<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!./layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!./layout/nav.html')%>
    <%= require('html-loader!./layout/header.html')%>
    <div class="main-wrap">
        <div class="main-layout">
            <div class="act-top">
                <img src=<%= require("../image/help_list_banner.png") %>>
            </div>
            <div class="main-section">
                <dl class="row f-cb">
                    <dd class="f-fl col-lg-8">
                        <a href="">
                            <div>
                                <span>活期秒杀活动</span>
                                <span>2017-09-21结束</span>
                            </div>
                            <div>
                                <img style="width:100%;height:180px" src="https://oivqpsaoi.qnssl.com/upload/2017/08/18/b2af2ed971ee4133bc5f41abb12f80e2.jpg">
                            </div>
                        </a>
                    </dd>
                    <dd class="f-fl col-lg-8">
                        <a href="">
                            <div>
                                <span>活期秒杀活动</span>
                                <span>2017-09-21结束</span>
                            </div>
                            <div>
                                <img style="width:100%;height:180px" src="https://oivqpsaoi.qnssl.com/upload/2017/08/18/b2af2ed971ee4133bc5f41abb12f80e2.jpg">
                            </div>
                        </a>
                    </dd>
                    <dd class="f-fl col-lg-8">
                        <a href="">
                            <div>
                                <span>活期秒杀活动</span>
                                <span>2017-09-21结束</span>
                            </div>
                            <div>
                                <img style="width:100%;height:180px" src="https://oivqpsaoi.qnssl.com/upload/2017/08/18/b2af2ed971ee4133bc5f41abb12f80e2.jpg">
                            </div>
                        </a>
                    </dd>
                    <dd class="f-fl col-lg-8">
                        <a href="">
                            <div>
                                <span>活期秒杀活动</span>
                                <span>2017-09-21结束</span>
                            </div>
                            <div>
                                <img style="width:100%;height:180px" src="https://oivqpsaoi.qnssl.com/upload/2017/08/18/b2af2ed971ee4133bc5f41abb12f80e2.jpg">
                            </div>
                        </a>
                    </dd>
                    <dd class="f-fl col-lg-8">
                        <a href="">
                            <div>
                                <span>活期秒杀活动</span>
                                <span>2017-09-21结束</span>
                            </div>
                            <div>
                                <img style="width:100%;height:180px" src="https://oivqpsaoi.qnssl.com/upload/2017/08/18/b2af2ed971ee4133bc5f41abb12f80e2.jpg">
                            </div>
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')%>
</body>
</html>