<!-- https://www.duanrong.com/ -->
<!doctype html>
<html lang="zh-CN">
<head>
    <title>房金网</title>
    <%= require('html-loader!./layout/head-common.html')%>
</head>
<body>
    <div class="toptips f-hide">
        <div class="toptips-box">
            <strong>【温馨提醒】</strong>
            <span>尊敬的用户：接银行最新通知，自2017年11月16日开始，平台暂停民生银行添加银行卡和充值服务，恢复后另行通知。民生银行提现服务正常运行。&nbsp; &nbsp; &nbsp;&nbsp;如您有充值或还款需求，建议您更换银行卡或者通过微信充值、网银充值等方式进行操作。给您带来的不便，敬请谅解。感谢您的关注与支持！&nbsp;<a href="javascript:;" class="btn-close">关闭</a></span>
        </div>
    </div>
    <%= require('html-loader!./layout/nav.html')%>
    <%= require('html-loader!./layout/header.html')%>
    <div class="main-wrap">
        <!--banner start https://www.fjw.cn/-->
        <div class="banner rel f-cb">
            <div class="bannner-box rel"></div>
            <div class="abs reg-zone z10">
                <!--未登录状态-->
                <div class="reg-zone-unlogin">
                    <div class="text-1 fz12 text-666">
                        <strong class="fz24 text-orange mr5 n memcount"></strong>聪明投资者选择
                    </div>
                    <div class="text-1 fz12 text-666">
                        <strong class="fz24 text-orange mr5 n">11.8%</strong>预期最高年化收益
                    </div>
                    <div class="text-guarantee">
                        <a href="javascript:;">
                            <span class="ads-icons i-guarantee">10亿</span> 注册资金
                        </a>
                        <a href="javascript:;">
                            <span class="ads-icons i-guarantee">18亿</span> 新轮融资
                        </a>
                        <a href="javascript:;">
                            <span class="ads-icons i-guarantee">1亿+</span> 第三方担保
                        </a>
                    </div>
                    <a class="btn btn-info reg-zone-btn" rel="nofollow" href="javascript:;" data-href="/user/register.html">领取新手礼包</a>
                    <div class="tc mt10">
                        已有账号？<a class="fz14 color-blue-text" rel="nofollow" href="javascript:;" data-href="/user/login.html">立即登录</a>
                    </div>
                </div>
                <!--已登录状态-->
                <div class="reg-zone-login f-hide">
                    <div class="tc">
                        <a href="javascript:;">
                            <img class="avator" id="avator" alt="" src="">
                        </a>
                    </div>
                    <dl class="userinfo">
                        <dd class="f-fl f-cb">
                            <div class="mt10 username mb20"></div>
                        </dd>
                        
                        <div class="f-fl lastTime mb10">上次登录：<span></span></div>
                        <div class="f-fl lastDevice">登录设备：<span></span></div>
                    </dl>
                    <a class="btn btn-info reg-zone-btn" rel="nofollow" href="javascript:;" data-href="/my/index.html">进入我的账户</a>
                </div>
            </div>
        </div>
        <!--banner end-->

        <!--公告 start-->
        <div class="notice">
            <div class="main-section notice-box">
                <a class="f-fl fz14 text-aaa notice-item" href="javascript:;">
                    公告：<span></span>
                </a>
                <a class="f-fr fz14 text-aaa" href="javascript:;" data-href="/about/notice.html">查看更多</a>
            </div>
        </div>
        <!--公告 end-->

        <!--资金数据滚动 start-->
        <div class="circle">
            <div class="main-section">
                <div class="circle-box">
                    <div class="col-lg-2">
                        <a rel="nofollow">
                            <dl>
                                <dt class="f-fl ads-icons i-guarantee tc">
                                    <span class="ads-icons i-depository"></span>
                                </dt>
                                <dd class="f-fl">
                                    <p class="fz18 text-333">银行存管</p>
                                    <p class="fz14 text-999">为用户资金安全保驾护航</p>
                                </dd>
                            </dl>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a rel="nofollow">
                            <dl>
                                <dt class="f-fl ads-icons i-guarantee tc">
                                    <span class="ads-icons i-powerful"></span>
                                </dt>
                                <dd class="f-fl">
                                    <p class="fz18 text-333">创新模式</p>
                                    <p class="fz14 text-999">"互联网+房地产"财富管理</p>
                                </dd>
                            </dl>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a rel="nofollow" href="http://at.fjw.cn/201706/201706RongZi/index.aspx">
                            <dl>
                                <dt class="f-fl ads-icons i-guarantee tc">
                                    <span class="ads-icons i-strength"></span>
                                </dt>
                                <dd class="f-fl">
                                    <p class="fz18 text-333">实力雄厚</p>
                                    <p class="fz14 text-999">获新一轮融资18亿元</p>
                                </dd>
                            </dl>
                        </a>
                    </div>
                    <div class="col-lg-2 last">
                        <a rel="nofollow" href="http://info.fjw.cn/about/guarantee.html?mark=1">
                            <dl>
                                <dt class="f-fl ads-icons i-guarantee tc">
                                    <span class="ads-icons i-risk"></span>
                                </dt>
                                <dd class="f-fl">
                                    <p class="fz18 text-333">专业风控</p>
                                    <p class="fz14 text-999">六重风控体系</p>
                                </dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--资金数据滚动 end-->

        <div class="main-section">
            <!--新手引导区-->
            <div class="pages page1">
                <div class="newer-list">
                    <ul>
                        <li class="newer-reward animate">
                            <a class="link-cover" href="https://a.fangjinnet.com:10080/html/17050601/newcome1705.html">
                                <p class="newer-reward-text">新人专享礼包</p>
                                <p class="newer-reward-sub-text">
                                    <span>168</span>现金券 +
                                    <span>6%</span>加息劵
                                </p>
                            </a>
                        </li>
                        <li class="newer-bid animate">
                            <a href="javascript:;" data-href="/product/detail.html?id=3">
                                <div class="newer-bid-title">新手专享</div>
                                <div class="newer-bid-content">
                                    <div class="cell rate">
                                        <p class="text rate-text">16.00<em>%</em></p>
                                        <p class="label">预期年化收益率</p>
                                    </div>
                                    <div class="cell period">
                                        <p class="text period-text">7<em>天</em></p>
                                        <!-- <p class="text period-text"><span>随存随取</span></p> -->
                                        <p class="label">投资期限</p>
                                    </div>
                                    <div class="cell limit">
                                        <p class="text limit-text">100元</p>
                                        <p class="label">起投金额</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video animate">
                            <div class="video-thumb" id="J_show_video">
                                <img src=<%=require("../image/newcomer.jpg")%> alt="新手指南">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- page2 热门产品 start-->
            <div class="pages page2">
                <h3 class="page-tit">
                    开启财富之旅
                    <small class="fz14 text-999 ml5">多样选择&nbsp;&nbsp;多样选择</small>
                    <a class="fz14 text-aaa f-fr" href="javascript:;" data-href="/product/index.html">查看更多</a>
                </h3>
                <div class="national"></div>
                <div class="current"></div>
            </div>
            <!-- page2 热门产品 end-->

            <!-- page3 新闻公告 start-->
            <div class="pages page3">
                <div class="fjw-page7-container">
                    <div class="col-lg-4 mr15">
                        <h3 class="page-tit-s">
                            <span class="f-fl">公司大事记</span>
                            <a class="fz14 text-aaa f-fr" href="javascript:;" data-href="/about/event.html">查看更多</a>
                        </h3>
                        <div class="fjw-news-box">
                            <dl>
                                <dt class="f-fl">
                                    <a rel="nofollow" href="" >
                                        <img src="https://infoimage.tuandai.com/ad/1502362513448.jpg" alt="房金网与上海银行签订资金存管协议">
                                    </a>
                                </dt>
                                <dd class="f-fl">
                                    <a class="fz20 text-333" rel="nofollow" href="">房金网与上海银行签订资金存管协议</a>
                                    <span class="news-date">2017-07-20</span>
                                </dd>
                            </dl>
                            <ul class="fjw-news-list">
                                <li>
                                    <i class="new-circle-type"></i>
                                    <a rel="nofollow" href="" title="跨界·融合·创新 ▏房金网斩获“品牌50强”、“金融业十大诚信企业”两大荣誉">跨界·融合·创新 ▏房金网斩获“品牌50强”、“金融业十大诚信企业”两大荣誉</a>
                                    <span class="news-date">2017-08-10</span>
                                </li>
                                <li>
                                    <i class="new-circle-type"></i>
                                    <a rel="nofollow" href="" title="雁鸿翔员工爱心献血 接受《印象上海》栏目采访">雁鸿翔员工爱心献血 接受《印象上海》栏目采访</a>
                                    <span class="news-date">2017-08-10</span>
                                </li>
                                <li>
                                    <i class="new-circle-type"></i>
                                    <a rel="nofollow" href="" title="房金网再度携手东方航空，“互金+航空”模式再升级">房金网再度携手东方航空，“互金+航空”模式再升级</a>
                                    <span class="news-date">2017-09-25</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3 class="page-tit-s">
                            <span class="f-fl">媒体报道</span>
                            <a class="fz14 text-aaa f-fr" href="javascript:;" data-href="/about/media.html">查看更多</a>
                        </h3>
                        <div class="fjw-news-box">
                            <dl>
                                <dt class="f-fl">
                                    <a rel="nofollow" href="javascript:;" data-href="/about/media.html?id=">
                                        <img src="https://infoimage.tuandai.com/ad/1506589012488.jpg" alt="【新浪财经】“互联网+”的金融时代，怎样才能成为大赢家？">
                                    </a>
                                </dt>
                                <dd class="f-fl">
                                    <a rel="nofollow" class="fz20 text-333" href="javascript:;" data-href="/about/media.html?id=">【新浪财经】“互联网+”的金融时代，怎样才能成为大赢家？</a>
                                    <span class="news-date">2017-09-28</span>
                                </dd>
                            </dl>
                            <ul class="fjw-news-list">
                                <li>
                                    <i class="new-circle-type"></i>
                                    <a rel="nofollow" href="javascript:;" data-href="/about/media.html?id=">【网易新闻】房金网CEO受邀参加上海财经节目《赢+》专访</a>
                                    <span class="news-date">2017-09-28</span>
                                </li>
                                <li>
                                    <i class="new-circle-type"></i>
                                    <a rel="nofollow" href="javascript:;" data-href="/about/media.html?id=">【东方网】2017中国金融品牌50强、金融业十大诚信企业名单揭晓!</a>
                                    <span class="news-date">2017-09-28</span>
                                </li>
                                <li>
                                    <i class="new-circle-type"></i>
                                    <a rel="nofollow" href="javascript:;" data-href="/about/media.html?id=">【新浪看点】为献血救人推迟二胎计划，他只说了一个字：值！</a>
                                    <span class="news-date">2017-09-25</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page3 新闻公告 end-->

            <!-- page4 合作伙伴 start-->
            <div class="pages main-section page4">
                <h3 class="page-tit">合作伙伴
                    <small class="fz14 text-999 ml5">（房金网支持多家支付机构）</small>
                </h3>
                <div class="fjw-page4-container">
                    <div class="cooperate-links-box">
                        <div class="link-box-bg">
                            <div class="zone-1">
                                <span class="cooperate-imgs cooperate-img1"></span>
                                <span class="cooperate-imgs cooperate-img2"></span>
                                <span class="cooperate-imgs cooperate-img3"></span>
                                <span class="cooperate-imgs cooperate-img4"></span>
                                <span class="cooperate-imgs cooperate-img5"></span>
                                <span class="cooperate-imgs cooperate-img6"></span>
                                <span class="cooperate-imgs cooperate-img7"></span>
                                <span class="cooperate-imgs cooperate-img8"></span>
                                <span class="cooperate-imgs cooperate-img9"></span>
                                <span class="cooperate-imgs cooperate-img10"></span>
                            </div>
                            <div class="links-middle">
                                <span class="cooperate-imgs cooperate-img11"></span>
                                <span class="cooperate-imgs cooperate-img12"></span>
                                <span class="cooperate-imgs cooperate-img13"></span>
                                <span class="cooperate-imgs cooperate-img14"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page4 合作伙伴 end-->
            
            <!--右侧AD-->
            <div id="gift">
                <div class="pic"></div>
                <div class="text">新手礼包</div>
            </div>
            <div class="gift-container" style="display:none;">
                <div class="mask"style="display: none;"></div>
                <div class="dialog minDialog" style="width: 63px; height: 75px; top: 463px; left: 1588.5px;">
                    <div class="close"></div>
                    <div class="button"></div>
                </div>
            </div>
        </div>
    </div>
    <!--左侧AD-->
    <div class="left-banner" style="bottom:55px!important;display:block;">
        <div class="pic" style="height:320px!important;">
            <i class="close" style="top:1px!important;left:117px!important;"></i>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')%>
</body>

</html>