/* 文字颜色设置 */
.fcwhite{color:#fff!important}
.fcgray{color:#333!important}
.fcgray1{color:#555!important}
.fcgray2{color:#666!important}
.fcgray3{color:#999!important}
.fcgray4{color:#a9a9a9!important}
.fcgray5{color:#dfdfdd!important}
.fcblue{color:#1088f1!important}
.fcgreen{color:#3daf2c!important}
.fcorange{color:#ff7800!important}
.fcred{color:#ff5150!important}
.fcyellow{color:#ffb700!important}

/* 背景颜色设置 */
.bgfff{background-color:#fff}
.bgf2f{background-color:#f2f2f2}
.bgeee{background-color:#eee}

/*字体大小设置*/
.fz12{font-size:12px!important}
.fz14{font-size:14px!important}
.fz16{font-size:16px!important}
.fz18{font-size:18px!important}
.fz20{font-size:20px!important}
.fz24{font-size:24px!important}
.fz26{font-size:26px!important}

/* text-align */
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.tj{text-align:justify}

/*margin*/
.mt2{margin-top:2px}
.mt4{margin-top:4px}
.mt6{margin-top:6px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt14{margin-top:14px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt80{margin-top:80px}
.ml70{margin-left:70px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}
.ml40{margin-left:40px}
.ml100{margin-left:75pt}
.mr2{margin-right:2px}
.mr4{margin-right:4px}
.mr5{margin-right:5px}
.mr15{margin-right:15px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.mr50{margin-right:50px}
.mr55{margin-right:55px}
.mr60{margin-right:60px}
.mr65{margin-right:65px}
.mr70{margin-right:70px}
.mb{margin-bottom:30px}
.mb4{margin-bottom:4px}
.mb6{margin-bottom:6px}
.mb5{margin-bottom:5px}
.mb7{margin-bottom:7px}
.mb8{margin-bottom:8px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}

/*padding*/
.p10{padding:10px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}
.p35{padding:35px}
.p20bs{padding:19px}
.p20bs,.p50bs{border:1px solid #e0e0e0;box-shadow:0 0 2px 1px #efefef}
.p50bs{padding:49px 19px}
.ph5{padding-left:5px;padding-right:5px}
.ph10{padding-left:10px;padding-right:10px}
.ph15{padding-left:15px;padding-right:15px}
.ph20{padding-left:20px;padding-right:20px}
.ph24{padding-left:24px;padding-right:24px}
.ph40{padding-left:40px;padding-right:40px}
.ph60{padding-left:60px;padding-right:60px}
.ph55{padding-left:55px;padding-right:55px}
.ph120{padding-left:90pt;padding-right:90pt}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt20{padding-top:20px!important}
.pt22{padding-top:22px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr40{padding-right:40px}
.pr50{padding-right:50px}
.pr60{padding-right:60px}
.pr65{padding-right:65px}
.pr70{padding-right:70px}
.pr80{padding-right:5px}
.pr90{padding-right:90px}
.pr100{padding-right:75pt}
.pr120{padding-right:90pt}
.pr110{padding-right:110px}
.pr140{padding-right:140px}
.plr60{padding-right:60px;padding-left:60px}
.plr35{padding-right:35px;padding-left:35px}
.pr145{padding-right:145px}
.pb1{padding-bottom:1px}
.pb2{padding-bottom:2px}
.pb3{padding-bottom:3px}
.pb4{padding-bottom:4px}
.pb5{padding-bottom:5px}
.pb6{padding-bottom:6px}
.pb8{padding-bottom:8px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px!important}
.pb30{padding-bottom:30px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl14{padding-left:14px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pl35{padding-left:35px}
.pl40{padding-left:40px}
.pl45{padding-left:45px}
.pl50{padding-left:50px}
.pl55{padding-left:55px}
.pl60{padding-left:60px}
.pl70{padding-left:70px}
.pl75{padding-left:75px}
.pl80{padding-left:5px}
.pl90{padding-left:90px}
.pl95{padding-left:95px}
.pl100{padding-left:75pt}
.pl105{padding-left:105px}
.pl110{padding-left:110px}
.pl120{padding-left:90pt}
.pl130{padding-left:130px}
.pl140{padding-left:140px}

/*宽度*/
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w45{width:45px}
.w50{width:50px}
.w55{width:55px}
.w60{width:60px}
.w65{width:65px}
.w70{width:70px}
.w75{width:75px}
.w80{width:80px}
.w85{width:85px}
.w90{width:90px}
.w95{width:95px}
.w100{width:100px}
.w105{width:105px}
.w110{width:110px}
.w115{width:115px}
.w120{width:120px}
.w125{width:125px}
.w130{width:130px}
.w140{width:140px}
.w150{width:150px}
.wi150{width:150px!important}
.w160{width:160px}
.w170{width:170px}
.w175{width:175px}
.w180{width:180px}
.w186{width:186px}
.w190{width:190px}
.w195{width:195px}
.w200{width:200px}
.w210{width:210px}
.w220{width:220px}
.w230{width:230px}
.w240{width:240px}
.w250{width:250px}
.w260{width:260px}
.w270{width:270px}
.w280{width:280px}
.w300{width:300px}
.w320{width:320px}
.w400{width:400px}
.w570{width:570px}
.w590{width:590px}
.w600{width:600px}
.w700{width:700px}
.w850{width:850px}
.w920{width:920px}
.w950{width:950px}
.h40{height:40px}
.h56{height:56px}
.h60{height:60px}
.h80{height:80px}
.h100{height:100px}
.h105{height:105px}

/* 栅格布局 */
.row{margin-left:-10px;margin-right:-10px}
.row:after,.row:before{content:" ";display:table}
.row:after{clear:both}
.row *{-webkit-box-sizing:border-box;box-sizing:border-box}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-13,.col-lg-14,.col-lg-15,.col-lg-16,.col-lg-17,.col-lg-18,.col-lg-19,.col-lg-2,.col-lg-20,.col-lg-21,.col-lg-22,.col-lg-23,.col-lg-24,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{position:relative;min-height:1px;padding-left:10px;padding-right:10px;float:left}
.col-lg-24{width:100%}
.col-lg-23{width:95.83333333%}
.col-lg-22{width:91.66666667%}
.col-lg-21{width:87.5%}
.col-lg-20{width:83.33333333%}
.col-lg-19{width:79.16666667%}
.col-lg-18{width:75%}
.col-lg-17{width:70.83333333%}
.col-lg-16{width:66.66666667%}
.col-lg-15{width:62.5%}
.col-lg-14{width:58.33333333%}
.col-lg-13{width:54.16666667%}
.col-lg-12{width:50%}
.col-lg-11{width:45.83333333%}
.col-lg-10{width:41.66666667%}
.col-lg-9{width:37.5%}
.col-lg-8{width:33.33333333%}
.col-lg-7{width:29.16666667%}
.col-lg-6{width:25%}
.col-lg-5{width:20.83333333%}
.col-lg-4{width:16.66666667%}
.col-lg-3{width:12.5%}
.col-lg-2{width:8.33333333%}
.col-lg-1{width:4.16666667%}
.col-lg-pull-24{right:100%}
.col-lg-pull-23{right:95.83333333%}
.col-lg-pull-22{right:91.66666667%}
.col-lg-pull-21{right:87.5%}
.col-lg-pull-20{right:83.33333333%}
.col-lg-pull-19{right:79.16666667%}
.col-lg-pull-18{right:75%}
.col-lg-pull-17{right:70.83333333%}
.col-lg-pull-16{right:66.66666667%}
.col-lg-pull-15{right:62.5%}
.col-lg-pull-14{right:58.33333333%}
.col-lg-pull-13{right:54.16666667%}
.col-lg-pull-12{right:50%}
.col-lg-pull-11{right:45.83333333%}
.col-lg-pull-10{right:41.66666667%}
.col-lg-pull-9{right:37.5%}
.col-lg-pull-8{right:33.33333333%}
.col-lg-pull-7{right:29.16666667%}
.col-lg-pull-6{right:25%}
.col-lg-pull-5{right:20.83333333%}
.col-lg-pull-4{right:16.66666667%}
.col-lg-pull-3{right:12.5%}
.col-lg-pull-2{right:8.33333333%}
.col-lg-pull-1{right:4.16666667%}
.col-lg-pull-0{right:auto}
.col-lg-push-24{left:100%}
.col-lg-push-23{left:95.83333333%}
.col-lg-push-22{left:91.66666667%}
.col-lg-push-21{left:87.5%}
.col-lg-push-20{left:83.33333333%}
.col-lg-push-19{left:79.16666667%}
.col-lg-push-18{left:75%}
.col-lg-push-17{left:70.83333333%}
.col-lg-push-16{left:66.66666667%}
.col-lg-push-15{left:62.5%}
.col-lg-push-14{left:58.33333333%}
.col-lg-push-13{left:54.16666667%}
.col-lg-push-12{left:50%}
.col-lg-push-11{left:45.83333333%}
.col-lg-push-10{left:41.66666667%}
.col-lg-push-9{left:37.5%}
.col-lg-push-8{left:33.33333333%}
.col-lg-push-7{left:29.16666667%}
.col-lg-push-6{left:25%}
.col-lg-push-5{left:20.83333333%}
.col-lg-push-4{left:16.66666667%}
.col-lg-push-3{left:12.5%}
.col-lg-push-2{left:8.33333333%}
.col-lg-push-1{left:4.16666667%}
.col-lg-push-0{left:auto}
.col-lg-offset-24{margin-left:100%}
.col-lg-offset-23{margin-left:95.83333333%}
.col-lg-offset-22{margin-left:91.66666667%}
.col-lg-offset-21{margin-left:87.5%}
.col-lg-offset-20{margin-left:83.33333333%}
.col-lg-offset-19{margin-left:79.16666667%}
.col-lg-offset-18{margin-left:75%}
.col-lg-offset-17{margin-left:70.83333333%}
.col-lg-offset-16{margin-left:66.66666667%}
.col-lg-offset-15{margin-left:62.5%}
.col-lg-offset-14{margin-left:58.33333333%}
.col-lg-offset-13{margin-left:54.16666667%}
.col-lg-offset-12{margin-left:50%}
.col-lg-offset-11{margin-left:45.83333333%}
.col-lg-offset-10{margin-left:41.66666667%}
.col-lg-offset-9{margin-left:37.5%}
.col-lg-offset-8{margin-left:33.33333333%}
.col-lg-offset-7{margin-left:29.16666667%}
.col-lg-offset-6{margin-left:25%}
.col-lg-offset-5{margin-left:20.83333333%}
.col-lg-offset-4{margin-left:16.66666667%}
.col-lg-offset-3{margin-left:12.5%}
.col-lg-offset-2{margin-left:8.33333333%}
.col-lg-offset-1{margin-left:4.16666667%}
.col-lg-offset-0{margin-left:0}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-13,.col-md-14,.col-md-15,.col-md-16,.col-md-17,.col-md-18,.col-md-19,.col-md-2,.col-md-20,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{position:relative;min-height:1px;padding-left:10px;padding-right:10px;float:left}
.col-md-20{width:100%}
.col-md-19{width:95%}
.col-md-18{width:90%}
.col-md-17{width:85%}
.col-md-16{width:80%}
.col-md-15{width:75%}
.col-md-14{width:70%}
.col-md-13{width:65%}
.col-md-12{width:60%}
.col-md-11{width:55%}
.col-md-10{width:50%}
.col-md-9{width:45%}
.col-md-8{width:40%}
.col-md-7{width:35%}
.col-md-6{width:30%}
.col-md-5{width:25%}
.col-md-4{width:20%}
.col-md-3{width:15%}
.col-md-2{width:10%}
.col-md-1{width:5%}
.col-md-pull-20{right:100%}
.col-md-pull-19{right:95%}
.col-md-pull-18{right:90%}
.col-md-pull-17{right:85%}
.col-md-pull-16{right:80%}
.col-md-pull-15{right:75%}
.col-md-pull-14{right:70%}
.col-md-pull-13{right:65%}
.col-md-pull-12{right:60%}
.col-md-pull-11{right:55%}
.col-md-pull-10{right:50%}
.col-md-pull-9{right:45%}
.col-md-pull-8{right:40%}
.col-md-pull-7{right:35%}
.col-md-pull-6{right:30%}
.col-md-pull-5{right:25%}
.col-md-pull-4{right:20%}
.col-md-pull-3{right:15%}
.col-md-pull-2{right:10%}
.col-md-pull-1{right:5%}
.col-md-pull-0{right:auto}
.col-md-push-20{left:100%}
.col-md-push-19{left:95%}
.col-md-push-18{left:90%}
.col-md-push-17{left:85%}
.col-md-push-16{left:80%}
.col-md-push-15{left:75%}
.col-md-push-14{left:70%}
.col-md-push-13{left:65%}
.col-md-push-12{left:60%}
.col-md-push-11{left:55%}
.col-md-push-10{left:50%}
.col-md-push-9{left:45%}
.col-md-push-8{left:40%}
.col-md-push-7{left:35%}
.col-md-push-6{left:30%}
.col-md-push-5{left:25%}
.col-md-push-4{left:20%}
.col-md-push-3{left:15%}
.col-md-push-2{left:10%}
.col-md-push-1{left:5%}
.col-md-push-0{left:auto}
.col-md-offset-20{margin-left:100%}
.col-md-offset-19{margin-left:95%}
.col-md-offset-18{margin-left:90%}
.col-md-offset-17{margin-left:85%}
.col-md-offset-16{margin-left:80%}
.col-md-offset-15{margin-left:75%}
.col-md-offset-14{margin-left:70%}
.col-md-offset-13{margin-left:65%}
.col-md-offset-12{margin-left:60%}
.col-md-offset-11{margin-left:55%}
.col-md-offset-10{margin-left:50%}
.col-md-offset-9{margin-left:45%}
.col-md-offset-8{margin-left:40%}
.col-md-offset-7{margin-left:35%}
.col-md-offset-6{margin-left:30%}
.col-md-offset-5{margin-left:25%}
.col-md-offset-4{margin-left:20%}
.col-md-offset-3{margin-left:15%}
.col-md-offset-2{margin-left:10%}
.col-md-offset-1{margin-left:5%}
.col-md-offset-0{margin-left:0}

/* loading 样式*/
.loading-mask{position:absolute;width:100%;height:100%;top:0;left:0;background-color:#000;opacity:.5;filter:alpha(opacity=50);z-index:10000}
.loading-box{height:51px;position:absolute;top:50%;margin-top:-26px;text-align:center;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;width:100%;z-index:10001}
.loading-tips{padding:13px 15px;background:rgba(255,255,255,.95);border-radius:4px;box-shadow:1px 2px 10px 0 rgba(0,0,0 ,.15)}
.loading-tips img{width:22px;height:22px;display:inline-block;vertical-align:-6px;-webkit-animation:loading .5s linear infinite}
.loading-tips span{display:inline-block;font-size:15px;color:grey;margin-left:14px}
@-webkit-keyframes loading{
    from{-webkit-transform:rotate(0) translateZ(0)}
    to{-webkit-transform:rotate(360deg) translateZ(0)}
}

.u-tag { display: inline-block; padding: 0 4px; font-size: 12px; height: 18px; line-height: 18px; text-align: center }
.u-tag-feature { min-width: 30px; border: 1px solid #7c9fe3; color: #7c9fe3 ;-webkit-animation: shakeSign 3.5s infinite;animation: shakeSign 3.5s infinite;-webkit-transform-origin: 0 100% 0;transform-origin: 0 100% 0;}
.u-tag-fixed { color: #FFF; background: #0095ff}
.u-tag-insur { color: #FFF; background: #13b751 }
.u-tag-red{background-color: #ff0000;color: #fff;}
.u-tag-yellow{color: #e88b06;background: #fffbf0;border: 1px solid #ffdeab;line-height: 16px;}
.u-tag-green{color:#3ccb6c;background:#d3f3de;}
.u-tag-blue{color:#00aaef;background:#cceefc;}
.u-tag-blue2{color:#108bdd;background:#cfe8f8;}
.u-tag-ffeeee{color:#ff884c;background-color:#ffeeee;}
.u-tag-primary { color: #fff; padding: 2px 11px 2px 7px; margin-left: 5px; font-size: 12px; position: relative; background-color: #f60 }
.u-tag-primary sup { display: inline-block; height: 0; line-height: 0; width: 0; font-size: 0; zoom: 1; border-style: solid; background: 0 0; border-width: 10px 5px 10px 0; border-color: transparent #fff transparent transparent; border-left: 0; vertical-align: middle; position: absolute; right: 0 }
.u-tag-normal { color: #fff; padding: 2px 11px 2px 7px; margin-left: 5px; font-size: 12px; position: relative; background-color: #7c9fe3 }
.u-tag-normal sup { display: inline-block; height: 0; line-height: 0; width: 0; font-size: 0; zoom: 1; border-style: solid; background: 0 0; border-width: 10px 5px 10px 0; border-color: transparent #fff transparent transparent; border-left: 0; vertical-align: middle; position: absolute; right: 0 }
.u-tag-disable { color: #fff; padding: 2px 11px 2px 7px; margin-left: 5px; font-size: 12px; position: relative; background-color: #adb9c9 }
.u-tag-disable sup { display: inline-block; height: 0; line-height: 0; width: 0; font-size: 0; zoom: 1; border-style: solid; background: 0 0; border-width: 10px 5px 10px 0; border-color: transparent #fff transparent transparent; border-left: 0; vertical-align: middle; position: absolute; right: 0 }

@keyframes shakeSign{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    45%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    47.5%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}
    55%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}
    57.5%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}
    60%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}
    62.5%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}
    65%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}

/* 银行logo */
.banklogo-hxyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 0 no-repeat;display:block;overflow:hidden}
.banklogo-zgmsyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -42px no-repeat;display:block;overflow:hidden}
.banklogo-zgyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -84px no-repeat;display:block;overflow:hidden}
.banklogo-zgyzcxyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px 0 no-repeat;display:block;overflow:hidden}
.banklogo-zjczsyyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -42px no-repeat;display:block;overflow:hidden}
.banklogo-zsyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -84px no-repeat;display:block;overflow:hidden}
.banklogo-zxyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -126px no-repeat;display:block;overflow:hidden}
.banklogo-zxzf{height:42px;width:130px;background:url(../image/banklogo.png) -130px -126px no-repeat;display:block;overflow:hidden}
.banklogo-bhyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -168px no-repeat;display:block;overflow:hidden}
.banklogo-bjnsh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -168px no-repeat;display:block;overflow:hidden}
.banklogo-bjnsyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -210px no-repeat;display:block;overflow:hidden}
.banklogo-bjyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -210px no-repeat;display:block;overflow:hidden}
.banklogo-cft{height:42px;width:130px;background:url(../image/banklogo.png) -260px 0 no-repeat;display:block;overflow:hidden}
.banklogo-cqsxyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -42px no-repeat;display:block;overflow:hidden}
.banklogo-cssyyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -84px no-repeat;display:block;overflow:hidden}
.banklogo-csxyhzs{height:42px;width:130px;background:url(../image/banklogo.png) -260px -126px no-repeat;display:block;overflow:hidden}
.banklogo-csyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -168px no-repeat;display:block;overflow:hidden}
.banklogo-czyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -210px no-repeat;display:block;overflow:hidden}
.banklogo-dyyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -252px no-repeat;display:block;overflow:hidden}
.banklogo-gfyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -252px no-repeat;display:block;overflow:hidden}
.banklogo-gzyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -252px no-repeat;display:block;overflow:hidden}
.banklogo-hfyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -294px no-repeat;display:block;overflow:hidden}
.banklogo-hkyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -294px no-repeat;display:block;overflow:hidden}
.banklogo-hsyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -294px no-repeat;display:block;overflow:hidden}
.banklogo-zgnyyh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -336px no-repeat;display:block;overflow:hidden}
.banklogo-hzyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -336px no-repeat;display:block;overflow:hidden}
.banklogo-jcyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -336px no-repeat;display:block;overflow:hidden}
.banklogo-jtyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px 0 no-repeat;display:block;overflow:hidden}
.banklogo-nbyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -42px no-repeat;display:block;overflow:hidden}
.banklogo-nchzyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -84px no-repeat;display:block;overflow:hidden}
.banklogo-ncsyyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -126px no-repeat;display:block;overflow:hidden}
.banklogo-ncxyhzs{height:42px;width:130px;background:url(../image/banklogo.png) -390px -168px no-repeat;display:block;overflow:hidden}
.banklogo-ncxys{height:42px;width:130px;background:url(../image/banklogo.png) -390px -210px no-repeat;display:block;overflow:hidden}
.banklogo-njyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -252px no-repeat;display:block;overflow:hidden}
.banklogo-payh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -294px no-repeat;display:block;overflow:hidden}
.banklogo-pfyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -336px no-repeat;display:block;overflow:hidden}
.banklogo-shhryh{height:42px;width:130px;background:url(../image/banklogo.png) 0 -378px no-repeat;display:block;overflow:hidden}
.banklogo-shnsyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -378px no-repeat;display:block;overflow:hidden}
.banklogo-shyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -378px no-repeat;display:block;overflow:hidden}
.banklogo-szncsyyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -378px no-repeat;display:block;overflow:hidden}
.banklogo-wqb{height:42px;width:130px;background:url(../image/banklogo.png) 0 -420px no-repeat;display:block;overflow:hidden}
.banklogo-wzyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -420px no-repeat;display:block;overflow:hidden}
.banklogo-xyyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -420px no-repeat;display:block;overflow:hidden}
.banklogo-zesyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -420px no-repeat;display:block;overflow:hidden}
.banklogo-zfb{height:42px;width:130px;background:url(../image/banklogo.png) 0 -462px no-repeat;display:block;overflow:hidden}
.banklogo-zggdyh{height:42px;width:130px;background:url(../image/banklogo.png) -130px -462px no-repeat;display:block;overflow:hidden}
.banklogo-zggsyh{height:42px;width:130px;background:url(../image/banklogo.png) -260px -462px no-repeat;display:block;overflow:hidden}
.banklogo-zgjsyh{height:42px;width:130px;background:url(../image/banklogo.png) -390px -462px no-repeat;display:block;overflow:hidden}


button{overflow:visible;text-transform:none}
button,input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner{border:0;padding:0}
.button{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box;font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:none transparent;background-color:#e6e6e6;text-decoration:none}
.button::-moz-focus-inner{padding:0;border:0}
.button-group{text-rendering:optimizespeed}
.button-group .button{letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.button:focus{outline:0}
.button-active,.button.active,.button:active{-moz-box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}
.button-disabled,.button-disabled:active,.button-disabled:focus,.button-disabled:hover,.button.disabled,.button[disabled]{border:none;background-image:none;opacity:.4;cursor:not-allowed;-moz-box-shadow:none;box-shadow:none;pointer-events:none}
.button-hidden{display:none}
.button-block{width:100%;display:block}
.button-primary,a.button-primary{color:#fff;background-color:#1088f1}
.button-success,a.button-success{color:#fff;background-color:#1cb841}
.button-danger,a.button-danger{color:#fff;background-color:#d8544f}
.button-warning,a.button-warning{color:#fff;background-color:#efa946}
.button-info,a.button-info{color:#fff;background-color:#42b8dd}
.button-small{font-size:80%}
.button-large{font-size:120%}
.button-group .button{float:left;margin:0;-moz-border-radius:0;border-radius:0;border-right:1px solid #111;border-right:1px solid rgba(0,0,0,.2)}
.button-group-justified{display:table;width:100%;table-layout:fixed;border-collapse:separate}
.button-group-justified .button{display:table-cell;float:none}





/*按钮*/
.btn { display: inline-block; margin: 0 auto; padding: 0 auto; color: #46525e; font-size: inherit; line-height: 2; text-align: center; text-decoration: none !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all; word-wrap: normal; vertical-align: middle; border-width: 1px; border-style: solid; border-color: transparent; background-color: #FFF; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; outline: 0; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: 0; }
.btn.focus, .btn:focus, .btn:hover { outline: 0; text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; filter: alpha(opacity=50); -webkit-box-shadow: none; opacity: .5; }
/* a.btn.disabled, fieldset[disabled] a.btn { pointer-events: none; } */

.btn-default { color: #46525e; background-color: #dedede; border-color: #abb2b8; }
.btn-default.focus, .btn-default:focus { color: #46525e; background-color: #dedede; border-color: #abb2b8; }
.btn-default:active { color: #46525e; background-color: #dedede; border-color: #abb2b8; }
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover { color: #46525e; border-color: #abb2b8; color: #fff; border: none; background-color: #dedede; opacity: 1; }

.btn-normal { color: #254CA4; background-color: #fff; border-color: #254CA4; }
.btn-normal.focus, .btn-normal:focus { color: #254CA4; background-color: #fff; border-color: #254CA4; }
.btn-normal:hover { color: #254CA4; background-color: #e8edfa; }
.btn-normal:active { color: #254CA4; background-color: #fff; border-color: #254CA4; }
.btn-normal.active.focus, .btn-normal.active:focus, .btn-normal.active:hover, .btn-normal:active.focus, .btn-normal:active:focus, .btn-normal:active:hover { color: #4873d6; border-color: #4873d6; }
.btn-normal.disabled, .btn-normal.disabled.active, .btn-normal.disabled.focus, .btn-normal.disabled:active, .btn-normal.disabled:focus, .btn-normal.disabled:hover, .btn-normal[disabled], .btn-normal[disabled].active, .btn-normal[disabled].focus, .btn-normal[disabled]:active, .btn-normal[disabled]:focus, .btn-normal[disabled]:hover { color: #254CA4; background-color: #fff; border-color: #254CA4; }

.btn-primary { color: #fff; background-color: #ed702c; border-color: #ed702c; }
.btn-primary.focus, .btn-primary:focus { color: #fff; background-color: #ed702c; border-color: #ed702c; }
.btn-primary:hover { color: #fff; background-color: #ef8043; border-color: #ef8043; }
.btn-primary:active { color: #fff; background-color: #ed702c; border-color: #ed702c; }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover { color: #fff; background-color: #fed548; border-color: #fed443; }
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover { color: #fff; background-color: #ed702c; border-color: #ed702c; }

.btn-info { color: #fff; background-color: #1088f1; border-color: #1088f1; }
.btn-info.focus, .btn-info:focus { color: #fff; background-color: #1088f1; border-color: #1088f1; }
.btn-info:hover { color: #fff; background-color: #009ff2; border-color: #009ff2; }
.btn-info:active { color: #fff; background-color: #1088f1; border-color: #1088f1; }
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover { color: #fff; background-color: #1088f1; border-color: #1088f1; }
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover { color: #fff; background-color: #1088f1; border-color: #1088f1; }

.btn-link { color: #096FEB; background-color: #FFF; border-color: transparent; }
.btn-link.focus, .btn-link:focus { color: #096FEB; background-color: #FFF; border-color: transparent; }
.btn-link:hover { color: #096FEB; background-color: #fff; border-color: transparent; }
.btn-link:active { color: #096FEB; background-color: #FFF; border-color: transparent; }
.btn-link.active.focus, .btn-link.active:focus, .btn-link.active:hover, .btn-link:active.focus, .btn-link:active:focus, .btn-link:active:hover { color: #096FEB; background-color: rgba(13,13,13,0); border-color: rgba(10,10,10,0); }
.btn-link.disabled, .btn-link.disabled.active, .btn-link.disabled.focus, .btn-link.disabled:active, .btn-link.disabled:focus, .btn-link.disabled:hover, .btn-link[disabled], .btn-link[disabled].active, .btn-link[disabled].focus, .btn-link[disabled]:active, .btn-link[disabled]:focus, .btn-link[disabled]:hover { color: #096FEB; background-color: #FFF; border-color: transparent; }
.btn-link.active, .btn-link:active { -webkit-box-shadow: none; box-shadow: none; }

.input { transition: border .2s ease; padding: 0 5px; color: #1d2d46; outline: 0; border: 1px solid #e0e4ed }
.input-small { width: 222px; height: 40px; line-height: 40px; font-size: 14px }
.input-auto { width: 100%; height: 40px; line-height: 40px; font-size: 14px }
.input-primary { width: 270px; height: 40px; line-height: 40px; font-size: 14px }
.input-error { border-color: #e25453 !important; color: #e25453 !important }
.input-underline { border-radius: 0; border-top: 0; border-left: 0; border-right: 0 }
.input-white { border-radius: 2px; padding-left: 12px; font-size: 14px }
.input:hover, .input:focus { color: #1b2b46; border-color: #1088f1 }
.input-disabled { pointer-events: none !important; cursor: not-allowed !important; background: #fff !important; border-color: #f0f0f0 !important }
.input-without-icon { padding-left: 10px !important }
.input-disable-edit { padding-left: 0 !important; pointer-events: none !important; cursor: not-allowed !important; background: #fff !important; border: 0 }
.input-checkbox, .input-radio { border-color: #ccc; margin-right: 4px }
.input-checkbox:checked, .input-radio:checked { border-color: #e25453; color: #e25453 }


/*鼠标上到帮助图标*/
.tool-tip{ padding:8px 0; overflow:hidden;}
.tool-tip .ar_up,.tool-tip .ar_up_in,.tool-tip .ar_down,.tool-tip .ar_down_in{position:absolute;left:50%;top:-8px;overflow:hidden;margin-left:-8px;width:0;height:0;font-size:0;border-width:8px;border-style:dashed dashed solid dashed;border-color:transparent transparent #adadad transparent}
.tool-tip .ar_up_in{top:-7px;border-color:transparent transparent #fff transparent}
.tool-tip .ar_down,.tool-tip .ar_down_in{top:auto;bottom:-8px;border-style:solid dashed dashed dashed;border-color:#bac6cd transparent transparent transparent}
.tool-tip .ar_down_in{top:auto;bottom:-7px;border-color:#fff transparent transparent transparent}
.tool-title-tip .ar_up_in{border-color:transparent transparent #e8ecef transparent}
.tool-title-tip .ar_down_in{border-color:#fff transparent transparent transparent}
.tool-tip a,.tool-tip a:visited{color:#349cd8;text-decoration:underline}
.tool-tip a:hover{text-decoration:none}
.tool-tip .items{background:#fff;border:1px solid #c0c9ce; color:#8a949c;font-size:12px; -ms-border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; border-radius:3px;}
.tool-tip-col{padding:10px 15px}
.tool-tip-cols ul,.tool-tipbag ul{overflow:hidden;zoom:1;list-style:none;padding:10px 15px}
.tool-tip-cols li,.tool-tipbag li{text-align:left;float:left;display:inline}
.tool-tip-cols li.y_0{width:25%}
.tool-tip-cols li.y_1{width:74%}
.tool-tipbag li.y_0{width:30%}
.tool-tipbag li.y_1{width:25%}
.tool-tipbag li.y_2{width:44%}
.tool-tip-cols ul.title,.tool-tipbag ul.title{height:40px;line-height:40px;background-color:#e8ecef;padding:0 15px}

.main-section { display: block; width: 1180px; margin: 0 auto; }
.main-wrap { position: relative; width: 100%; background:#f2f2f2; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 1180px; min-height: -webkit-calc(100vh - 100px - 181px); min-height: calc(100vh - 100px - 181px); font-size: 14px; min-height: inherit; }
.main-layout{width: 100%;}

/* top-nav */
.top-nav { width: 100%; min-width: 1180px; height: 36px; line-height: 36px; background-color: #f6f6f6; font-size: 12px; }
.top-nav .nav-box {display:block;width:1180px;margin:0 auto;height:100%;color:#a5a5a5}
.top-nav .nav-box .tel-phone { float: left; height: 100%; }
.top-nav .nav-box .r-nav { float: right; }
.top-nav .nav-box .r-nav .nav-item { float: right; position: relative; display: block; padding-right: 20px; padding-left: 20px;color:#a5a5a5 }
.top-nav .nav-box .r-nav .nav-item:after { content: ""; border-left: 1px solid #d9d9d9; height: 16px; position: absolute; right: 0; top: 50%; margin-top: -8px }
.top-nav .nav-box .r-nav .nav-item:nth-child(1) {padding-right:15px;padding-left:15px;color:#44b549}
.top-nav .nav-box .r-nav .nav-item:nth-child(1):after { display: none; }
.top-nav .nav-box .r-nav .nav-item:nth-child(2) {padding-right:15px;padding-left:15px;color:#ff5b36}
.top-nav .nav-box .r-nav .nav-item:nth-child(2):after { display: none; }
.top-nav .nav-box .r-nav .nav-item:nth-last-child(3) {color:#ff5b36}
.top-nav .nav-box .r-nav .nav-item:nth-last-child(2) { padding-right: 0;color:#00B2F5 }
.top-nav .nav-box .r-nav .nav-item:nth-last-child(2):after { display: none; }
.top-nav .nav-box .r-nav .nav-item:nth-child(3) {padding-right:15px;padding-left:15px;color:#00B2F5}
.top-nav .nav-box .r-nav .nav-item:nth-child(3):after { display: none; }
.top-nav .nav-box .r-nav .nav-item:hover { color: #1088f1; }
.top-nav .nav-box .r-nav .nav-item a { color: #999; }
.top-nav .nav-box .r-nav .nav-item a:hover { color: #1088f1; }
.top-nav .nav-box .r-nav .pop .popdown { visibility: hidden; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; top: 100%; z-index: 201; background-color: #fff; text-align: center; line-height: 14px; color: #666; }
.top-nav .nav-box .r-nav .pop .mask { position: absolute; display: block; left: 0; top: 100%; width: 100%; background-color: #fff; z-index: 202; opacity: 0; visibility: hidden; }
.top-nav .nav-box .r-nav .pop:hover { -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15); box-shadow: 0 0 8px rgba(0,0,0,.15); }
.top-nav .nav-box .r-nav .pop:hover .popdown { -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15); box-shadow: 0 0 8px rgba(0,0,0,.15); visibility: visible; opacity: 1; }
.top-nav .nav-box .r-nav .pop:hover .mask { visibility: visible; opacity: 1; }
.top-nav .nav-box .r-nav .pop:hover:after { visibility: hidden; }
.top-nav .nav-box .r-nav .app .popdown { left: 0; width: 100%; padding: 20px 0; }
.top-nav .nav-box .r-nav .app .popdown img { margin-bottom: 10px; }
.top-nav .nav-box .r-nav .qun .popdown { right: 0; width: 160px; padding: 20px 0; }
.top-nav .nav-box .r-nav .qun .popdown img { margin-bottom: 10px; }
.top-nav .nav-box .r-nav .weibo .popdown { width: 160px; right: 0; padding: 20px 0 26px 0; }
.top-nav .nav-box .r-nav .weibo .popdown img { -webkit-border-radius: 50%; border-radius: 50%; border: 1px solid #eee; -webkit-box-shadow: 0 0 0 8px #f5f6f8; box-shadow: 0 0 0 8px #f5f6f8; }
.top-nav .nav-box .r-nav .weibo .popdown span { margin: 20px auto 0 auto; width: 110px; height: 28px; -webkit-border-radius: 1px; border-radius: 1px; padding: 0; }
.top-nav .nav-box .r-nav .weixin .popdown { right: 0; width: 160px; padding: 20px 0; }
.top-nav .nav-box .r-nav .weixin .popdown img { margin-bottom: 10px; }

/* menu */
.top-menu { position: relative; height: 70px;width:100%; font-size: 16px; line-height: 70px; background-color: #fff; z-index: 100; }
.top-menu .menu-box{display:block;width:1180px;margin:0 auto}
.l-menu .logo{ position: relative; display: inline-block; margin-top: 13px; width: 224px; height: 51px; line-height: 1; background: url(https://www.fangjinnet.com/static/images/logo.png) no-repeat; vertical-align: top; }
.r-menu { margin-top: 18px; margin-left: 23px; width: 130px; height: 34px; position: relative; overflow: visible; line-height: 34px; text-align: center; border: 1px solid #ebebeb; -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out }
.r-menu .portal { display: block;color:#333 }
.r-menu .portal .userfont { color: #1088f1; margin-right: 10px; font-size: 16px; }
.r-menu .portal .arrow { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); margin-left: 5px; }
.r-menu nav { display: block; position: absolute; z-index: 101; right: 0; width: 230px; color: #666; opacity: 0; visibility: hidden; -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15); box-shadow: 0 0 8px rgba(0,0,0,.15); -webkit-border-radius: 3px; border-radius: 3px; text-align: left; font-size: 14px; background-color: #fff }
.r-menu nav .user { width: 168px; margin: 0 auto; border-bottom: 1px solid #eee; padding-top: 18px; padding-bottom: 14px; line-height: 21px; margin-top: -10px; -webkit-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out }
.r-menu nav .user .u-avatar { margin-right: 10px; width: 42px; height: 42px }
.r-menu nav .user .u-avatar img { -webkit-border-radius: 50%; border-radius: 50%; width: 42px; height: 42px; border: 1px solid #eee }
.r-menu nav .user i { font-size: 12px; color: #999 }
.r-menu nav .sitenav { padding-top: 6px; padding-bottom: 6px }
.r-menu nav a { display: block; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 32px; height: 36px; margin-bottom: 4px; line-height: 36px; margin-top: -10px; -webkit-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; color: #666 }
.r-menu nav a:hover { background-color: #1088f1; color: #fff }
.r-menu .mask { position: absolute; display: block; right: 0; height: 10px; width: 128px; background-color: #fff; margin-top: -5px; z-index: 102; opacity: 0; visibility: hidden }
.r-menu:hover { -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15); box-shadow: 0 0 8px rgba(0,0,0,.15) }
.r-menu:hover .portal { color: #333 }
.r-menu:hover .portal .arrow { -webkit-transform: rotateX(0); transform: rotateX(0) }
.r-menu:hover nav { opacity: 1; visibility: visible }
.r-menu:hover nav .user { margin-top: 0 }
.r-menu:hover a { margin-top: 0 }
.r-menu:hover .mask { opacity: 1; visibility: visible }
.c-menu a { color:#333;display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 23px; padding-right: 23px; position: relative }
.c-menu a:hover { color: #1088f1 }
.c-menu a.active { color: #1088f1;}
.c-menu .active::after {content: '';position: absolute;left: 0;bottom: 2px;width: 100%;height: 2px;background-color: #1088f1}
.c-menu a .light{animation: light 1.5s infinite;position: absolute;left:15px;top:20px;width:20px;height:25px;background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.9),rgba(255,255,255,0));}
@keyframes light{
	0%{transform:translateX(0) skewx(-25deg);}
	100%{transform:translateX(70px) skewx(-25deg);}
}


/* 交易密码 */
.sixDigitPassword{position:absolute;top:10px;width:180px;height:31px;color:#fff;font-size:12px;-webkit-box-sizing:content-box;box-sizing:content-box;-webkit-user-select:initial;outline:0;z-index:999;opacity:0;filter:alpha(opacity=0)}
.sixDigitPassword-box{width:180px;margin-top:10px;cursor:text;background:#fff;outline:0;position:relative;padding:8px 0;height:15px;border:1px solid #e0e4ed;border-radius:2px}
.sixDigitPassword-box i{float:left;display:block;padding:4px 0;height:7px;width:29px;border-left:1px solid #e0e4ed}
.sixDigitPassword-box i:first-child{border-color:transparent}
.sixDigitPassword-box .active{background:url(../image/password-blink.gif) no-repeat center center}
.sixDigitPassword-box b{display:block;margin:0 auto;width:7px;height:7px;overflow:hidden;visibility:hidden;background:url(../image/password-dot.png) no-repeat}
.sixDigitPassword-box span{position:absolute;display:block;top:-1px;height:31px;width:29px;visibility:hidden;border:1px solid rgba(20,105,235,.8);border-radius:2px;visibility:hidden;-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.75),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)}
.six-password{position:relative;overflow:hidden;vertical-align:middle}


/*footer 底部*/
.footer { width: 100%;height:auto;min-width:1180px; padding-top: 75px; padding-bottom: 50px; background: #fff; border-top: 1px solid #eee; }
.footer-container{width: 1180px;margin: 0 auto;}
.footer-t { padding-bottom: 45px; height: auto; overflow: hidden; font-size: 12px; }
.footer-t .col1 dl { float: left; width: 165px; height: 135px; padding-left: 10px; overflow: hidden; }
.footer-t .col1 dt { padding-bottom: 20px; color: #333; font-size: 14px; }
.footer-t .col1 dd { padding-left: 5px; padding-bottom: 20px; }
.footer-t .col1 dd a { color: #999; }
.footer-t .col1 dd a:hover { color: #1088f1; }
.footer-t .col2 { margin-left: 20px; }
.footer-t .app-code, .footer-t .wechat-code { float: left; width: 136px; padding-top: 115px; text-align: center; color: #999; background: url("//js2.tdw.cn/images/v2/supervise.png") no-repeat; }
.footer-t .app-code { margin-right: 72px; background-position: 15px -28px; }
.footer-t .wechat-code { background-position: -122px -28px; }
.footer-t .col3 { text-align: right; }
.footer-t .col3 strong { padding-bottom: 23px; line-height: 24px; font-size: 30px; font-weight: normal; color: #333;display: inline-block; }
.footer-t .col3 p { padding-bottom: 35px; color: #bbb; }
.footer-t .col3 .custombox { width: 104px; height: 28px; padding-bottom: 0; line-height: 28px; text-align: center; border: 1px solid #1088f1; color: #1088f1;display: inline-block; }
.footer-t .col3 .custombox:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0%; z-index: 1; background: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.footer-t .col3 .custombox:hover { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; *background-color: #1088f1; }
.footer-t .col3 .custombox:hover:before { background-color: #1088f1; height: 100%;}
.footer-t .col3 .custombox .btn-text { z-index: 2; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.footer-t .col3 .custombox:hover .btn-text { color: #fff; }
.footer-t .col3 .i-foot-customer {height:15px;margin-right:10px;font-size:16px}

.footer-links { height: 20px; overflow: hidden; padding: 10px 0 10px 25px; margin-bottom: 50px; border-left: 4px solid #eee; background: #f6f6f6; font-size: 12px; }
.footer-links .links-tit { color: #333; }
.footer-links ul { width: 1010px; margin-left: 40px; }
.footer-links ul > li { float: left; width: 101px; line-height: 20px; margin-bottom: 10px; }
.footer-links ul > li a { color: #999; }
.footer-links ul > li a:hover { color: #1088f1; }
.footer-links .hide-btn { margin-left: 3px; color: #1088f1; cursor: pointer; }
.footer-links .i-arrow-down1, .footer-links .i-arrow-up1 { width: 9px; height: 5px; margin-left: 3px; }
.footer-links .i-arrow-down1 { background-position: -165px -39px; }
.footer-links .i-arrow-up1 { background-position: -165px -46px; }

.footer-supervise { margin-bottom: 50px; text-align: center; }
.footer-supervise a  { width: 76px !important; height: 28px !important; }

/*右侧工具栏*/
.tdw-tools-bar { position: fixed; z-index: 999; right: 20px; top: 28%; width: 48px; background: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); border: 1px solid #eee \9; /*兼容IE7*/ border-bottom: 0 \9; -webkit-transform: translateZ(0); }
.tdw-tools-bar li { position: relative; height: 48px; line-height: 16px; text-align: center; border-bottom: 1px solid #f2f2f2;*vertical-align: middle; /*兼容IE7*/ }
.tdw-tools-bar .last-border { border: 0; }
.tdw-tools-bar .tool-backtop { display: none; border-bottom: 0; border-bottom: 1px solid #eee \9; }
.tdw-tools-bar a { display: block; width: 48px; height: 48px; text-align: center; background: #FFF; color: #FFF; overflow: hidden; -webkit-transition: all 0.6s; -moz-transition: all 0.6s; -ms-transition: all 0.6s; -o-transition: all 0.6s; transition: all 0.6s; }
.tdw-tools-bar a:hover { background-color:#1088f1; }
.tdw-tools-bar a:hover i { margin-top: -48px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.tdw-tools-bar a i { display: block; width: 48px; height: 48px; margin: 0 auto; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.tdw-tools-bar a p { width: 48px; height: 39px; padding-top: 9px; font-weight: normal; font-size: 14px; text-align: center; line-height: 16px; *cursor: pointer; /*兼容IE7*/ }
.tdw-tools-bar .tools-item:hover .risk-tips{opacity: 1;filter: alpha(opacity=100);transform: scaleX(1);-webkit-transform: scaleX(1);-moz-transform: scaleX(1);-ms-transform: scaleX(1);-o-transform: scaleX(1);}
.tdw-tools-bar .risk-tips { 
    width: 150px;height:48px;position: absolute;right: 48px;bottom: 0px;display: block;background:#2894f2;opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0.01);
    -webkit-transform: scaleX(0.01);
    -moz-transform: scaleX(0.01);
    -ms-transform: scaleX(0.01);
    -o-transform: scaleX(0.01);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin:100% 100%;
    -o-transform-origin: 100% 100%;}
    .risk-tips b{display: block;
        font-weight: normal;
        text-align: center;
        color: #fff;
        line-height: 20px;}
        .risk-tips b.b-first{padding-top:5px;}
        .risk-tips p{width: 150px!important;height:48px!important;line-height: 48px!important;
            text-align: center!important;
            padding: 0!important;
            color: #fff;}
.tdw-tools-bar .risk-tips p { padding: 5px; line-height: 18px; color: #fff; }
.tdw-tools-bar .risk-tips i { position: absolute; right: -15px; top: 50%; margin-top: -9px; width: 0px; height: 0px; border: 9px solid transparent; border-left-color: #1088f1; }
.tdw-tools-bar .i-tool-service { background-position: -138px -88px; }
.tdw-tools-bar .i-tool-risk { background-position: -187px -88px; }
.tdw-tools-bar .i-tool-help { background-position: -236px -88px; }
.tdw-tools-bar .i-tool-calculate { background-position: -285px -88px; }
.tdw-tools-bar .i-tool-backtop { background-position: -334px -88px; }

.tdw-nav-suspension { position: fixed; left: 0; top: -60px; top: 0\9; z-index: 9; box-shadow: 0 3px 16px rgba(0, 0, 0, 0.08); border: 1px solid #eee \9; -webkit-transform: translateZ(0); }
.tdw-nav-suspension .tdw-nav-bd { height: 42px; padding: 9px 0; }
.tdw-nav-suspension .tdw-nav-list > li { line-height: 42px; }
.tdw-nav-suspension .tdw-nav-list { height: 42px; }
.tdw-nav-suspension .tdw-nav-list .sonmenu { top: 40px; }
.tdw-nav-suspension .tdw-nav-list .my-account-default, .tdw-nav-suspension .tdw-nav-list .my-account { margin-top: 0; }
.tdw-nav-suspension .tdw-logo a img { width: 133px; height: 40px; }
.tdw-nav-suspension .tdw-logo .logoinfo img { width: 99px; height: 25px; }

.tdw-nav-suspension-down { top: 0; -webkit-transition: top 0.5s; -moz-transition: top 0.5s; -ms-transition: top 0.5s; -o-transition: top 0.5s; transition: top 0.5s; }


/*统一调用图标样式*/
.tdw-icons { display: inline-block; vertical-align: middle; background: url("//js2.tdw.cn/images/v2/icons.png?v=20171205001") no-repeat; }

.i-customer { width: 16px; height: 17px; margin-right: 5px; vertical-align: -3px; *vertical-align: -2px; background-position: -175px -39px; }

.i-wechat { width: 19px; height: 14px; vertical-align: -3px; *vertical-align: 0; background-position: -191px -39px; }

.i-sina { width: 18px; height: 14px; vertical-align: -3px; *vertical-align: 0; background-position: -211px -39px; }

.i-app { width: 12px; height: 15px; margin-right: 5px; vertical-align: -2px; *vertical-align: -1px; background-position: -230px -39px; }

.i-arrow-up, .i-arrow-down { width: 7px; height: 5px; margin-left: 4px; }

.i-arrow-up { background-position: -157px -46px; }

.i-arrow-down { background-position: -157px -39px; }

.i-tips-arrow { top: -6px; left: 50%; margin-left: -70px; width: 140px; height: 6px; background-position: -244px -39px; background-position: -384px -39px\9; }

/* position */
.rel{position:relative;}
.abs{position:absolute; }
.fixed{position: fixed;}
/*z-index*/
.z0{z-index:0;}
.z1{z-index:1;}
.z2{z-index:2;}
.z3{z-index:3;}
.z4{z-index:4;}
.z5{z-index:5;}
.z10{z-index:10;}
.z100{z-index:100;}
.z101{z-index:101;}
.z102{z-index:102;}
.z103{z-index:103;}

/* animate */
.animate{cursor:pointer;-webkit-transition:all .3s;transition:all .3s}
.animate:hover{-webkit-transform:translate(0, -2px);-moz-transform:translate(0, -2px);transform:translate(0, -2px);box-shadow:0 4px 20px rgba(0, 0, 0, 0.1)}
/* 清除浮 动*/
.f-cb { display: block; zoom: 1 }
.f-cb:after { content: " "; display: block; font-size: 0; height: 0; clear: both; visibility: hidden }
.f-hide {display:none}
.f-hide2 { visibility: hidden }
.f-hide3 { position: absolute; left: -99999px; top: -99999px }
.f-fl { float: left }
.f-fr { float: right }
.f-tal { text-align: left }
.f-tac { text-align: center }
.f-tar { text-align: right }
.f-fwn { font-weight: 400 }
.f-fwb { font-weight: 700 }
.f-nowrap { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all; word-wrap: normal }
.f-wrap { white-space: normal; word-wrap: break-word; word-break: break-all }
.f-ofh { overflow: hidden }
.inline-block { display: inline-block; }
.block { display: block; }
.h1, h1 { font-size: 35px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
.h6, h6 { font-size: 9pt; }