@charset "UTF-8";html{margin:0;padding:0;border:0;font-size:9pt;color:#333;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a,abbr,acronym,address,article,aside,b,blockquote,body,caption,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,iframe,img,label,legend,li,nav,object,ol,p,pre,q,section,span,table,tbody,td,tfoot,th,thead,tr,ul{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,Microsoft YaHei,sans-serif}
input,select,textarea{font-size:100%;font-family:inherit;font-size:inherit;font-weight:inherit}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
address,b,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:500}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
dl,ol,ul{list-style:none}
a,button{cursor:pointer;outline:0}
audio,canvas,video{display:inline-block}
input{border:1px solid #e0e4ed;outline:0}
input:hover{border-color:#cdd2dc}
input:focus{border-color:#1469eb}
input[type=text]::-ms-clear{display:none}
input[type=password]::-ms-reveal{display:none}
input::-ms-clear{display:none}
input[type="text"],input[type="password"],input[type="submit"],input[type="reset"],input[type="button"],button{-webkit-appearance:none}
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none}
input[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sup{top:-.5em}
sub{bottom:-.25em}
a,ins{text-decoration:none}
a{color:#1088f1;cursor:pointer;-moz-transition:all 0.4s ease;-o-transition:all 0.4s ease;-webkit-transition:all 0.4s ease;transition:all 0.4s ease;transition:all .2s ease}
a:active,a:focus,a:link,a:visited,button:active{text-decoration:none;outline:0}
a:hover{color:#4990E2;text-decoration:none;outline:0}
a.link{color:#0a6feb}
a.link:hover{color:#4990E2}
::-webkit-scrollbar{height:10px;width:5px;background:rgba(0,0,0,.1)}
::-webkit-scrollbar:hover{background:rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{background:rgba(0,0,0,.3);-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px}
::-webkit-scrollbar-thumb:hover{-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-o-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);background-color:rgba(0,0,0,.4)}