.f-register { width: 100%; position: relative; font-size: 14px; min-height: inherit; height: 650px; background: center no-repeat; background-image: url(https://www.fangjinnet.com/static/images/index-banner0.jpg) }
.register-box-page { width: 400px; min-height: inherit; margin-top: 20px; float: right; padding: 35px; background: #fff }
.register-box-page .register-title { font-size: 20px; color: #18273f; line-height: 1; margin-bottom: 10px }
.register-box-page .register-form { height: 485px }
.register-form .form-item .input-small { width: 228px }
.register-form .form-item-remember { margin-top: 40px; color: #999; cursor: pointer; font-size: 14px }
.register-form .form-item-remember .input-checkbox { margin-right: 6px }
.register-form .form-item-register-btn .registerbtn { display: block; width: 100%; height: 40px; cursor: pointer; text-align: center; color: #fff; font-size: 18px; line-height: 40px }
.register-form .form-item-hide { margin: 0; height: 0 }