.item .title{width:148px;padding-right:28px;text-align:right;height:40px;line-height:40px;font-size:16px;}
.item .info{position:relative;}
.item .info .bankdetail{position:absolute;z-index:1;left:0;top:-44px;width:280px;height:40px;line-height:40px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#f8fafe;font-size:18px;border:1px solid #0a6feb;border-bottom:none;text-indent:12px;}
.item .info .inputbox{display:block;width:280px;height:40px;line-height:40px;text-indent:12px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #d1d1d1}
.item .info .inputbox.error{border:1px solid #ff4242;text-indent:12px;background-color:transparent}
.item .info .inputbox.disabled{border:1px solid transparent;text-indent:0;background-color:transparent}
.item .info p{overflow:auto;height:30px;line-height:30px;}
.item .info p .error{color:#ff4242}
.item .info .button{display:block;width:280px;height:40px;line-height:40px;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0}
.code .info .btn{width:165px;margin-left:10px}
.code .info .inputbox{width:165px}
.poptip{position:relative;margin-left:10px;cursor:pointer;color:#0a6feb}

.controller-bank{height:40px;line-height:40px;border:1px solid #e0e4ed;cursor:pointer;width:280px}
.controller-bank span.select-bank-name{display:inline-block;padding-left:10px;font-size:14px;color:gray;height:19px;line-height:18px}
.controller-bank i{position:absolute;right:10px;top:12px;font-size:20px}
.bank-list,.sel-ul{position:absolute;background:#fff;border:1px solid #e0e4ed;overflow-y:auto;-webkit-box-shadow:1px 1px 2px #eee;box-shadow:1px 1px 2px #eee;height:300px;z-index:11;display:none}
.bank-list li,.sel-ul li{height:40px;line-height:40px;color:#323232;font-size:12px;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.bank-list li:hover,.sel-ul li:hover{background:#d1d1d1;cursor:pointer}
.bank-list{right:0;top:45px;width:280px}

.my-cards{width:100%;margin:30px 0 0 30px}
.my-cards .card-con{display:block;overflow:hidden;width:245px;height:135px;margin-bottom:29px;margin-right:22px;padding:0 10px 0 10px;border:1px solid #b3bbc1;-webkit-border-radius:10px;border-radius:10px;color:#46525e;-webkit-box-shadow:0 3px #f0f4f7;box-shadow:0 3px #f0f4f7}
.my-cards .card-info{margin-top:20px;height:24px;font-family:"微软雅黑";font-size:14px;font-weight:400}
.my-cards .card-info span{display: inline-block}
.my-cards .card-name{margin-top: 35px;color: #46525e;font-family: "微软雅黑";font-size:14px;font-weight:400;line-height: 14px}
.my-cards .card-limit{margin-top: 17px;color: #a3b5c8;font-family: "微软雅黑";font-size:12px;font-weight:400;line-height: 14px}

.ctnbottom{margin-top:58px;padding-top:34px;border-top:1px solid #f1f1f1}
.ctnbottom img{margin:0 auto;display:block;width:100%}

.m-title{-webkit-box-sizing:border-box;box-sizing:border-box;padding:20px;font-size:18px;color:#666;background-color:transparent}
.m-help{padding:20px 0;-webkit-box-sizing:border-box;box-sizing:border-box}
.m-help dt{margin:20px 0;font-size:14px}
.m-help dd{padding:20px;font-size:14px;background-color:#f8f8f8;line-height:21px;overflow:hidden;}

.bankList{
    width: 370px;
    height: 360px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
}
.bankList ul{
    width: 350px;
    border:1px solid #eee;
    margin: 0 auto;
}
.bankList li{
    width: 350px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
}
.bankLogo{
    width: 120px;
    float: left;
    padding-left: 15px;
    border-right: 1px dashed #eee;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    margin-right: 15px;
    color: #333;
}
.bankLogo img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 3px;
}

.banklist-box {
    position: absolute;
    left: 300px;
    width: 365px;
    overflow: hidden;
    background-color: #fff;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 0 15px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 0 15px;
    box-shadow: rgba(0,0,0,0.25) 0 0 15px;
    z-index:20
}

.banklist-ul {
    *overflow: hidden
}

.banklist-ul .banklist-li {
    float: left;
    margin: 5px
}

.banklist-ul .banklist-li:hover {
    cursor: pointer
}

.banklist-ul .banklist-li:hover .hd {
    border-color: #1088f1
}

.banklist-ul .banklist-li .hd {
    position: relative;
    width: 169px;
    height: 42px;
    border: 1px solid #ededed;
    display: block;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.banklist-ul .banklist-li .hd .banklogo {
    margin-left: 16px
}

.banklist-ul .banklist-li .bd {
    color: #a1a1a1;
    text-align: center;
    font-size: 12px
}

.banklist-ul .banklist-li .icon-gg-s {
    position: absolute;
    top: 1px;
    right: 1px;
    display: none
}

.banklist-ul .banklist-li.selected .hd {
    background-color: #fff;
    border-color: #1088f1;
    -moz-box-shadow: rgba(0,154,214,0.5) 0 0 3px;
    -webkit-box-shadow: rgba(0,154,214,0.5) 0 0 3px;
    box-shadow: rgba(0,154,214,0.5) 0 0 3px
}

.banklist-ul .banklist-li.selected .bd {
    color: #555
}

.banklist-ul .banklist-li.selected .icon-gg-s {
    display: block
}

.banklist-ul .banklist-li.disable .icon-gg-s {
    display: none !important
}

.banklist-ul .banklist-li.disable:hover {
    cursor: default
}

.banklist-ul .banklist-li.disable:hover .hd {
    border-color: #ededed !important
}

.banklist-ul .banklist-li.disable .hd {
    -moz-box-shadow: transparent 0 0 0;
    -webkit-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0
}

.banklist-ul .banklist-li.disable .hd .banklogo {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
    opacity: 0.35
}

.banklist-ul .banklist-li.disable .bd {
    color: #a1a1a1 !important
}