
.sr-cont {
    background-color: #fff
}
.ci-title {
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
.ci-title .ci-title-inner h2 {
    float: left;
    padding-right: 8px;
    font-size: 18px
}
.ci-title .ci-title-inner {
    padding-left: 20px;
    position: relative;
    height: 52px;
    line-height: 52px;
    font-size: 18px
}

.icon-set-approve {
    height: 18px;
    width: 18px;
    background: url(../../image/account_icon.png) -45px 0px no-repeat;
    display: block;
    overflow: hidden
}
.icon-set-phone {
    height: 18px;
    width: 18px;
    background: url(../../image/account_icon.png) -68px 0px no-repeat;
    display: block;
    overflow: hidden
}
.icon-set-loginPsw {
    height: 18px;
    width: 18px;
    background: url(../../image/account_icon.png) -114px 0 no-repeat;
    display: block;
    overflow: hidden
}
.icon-set-address {
    height: 18px;
    width: 18px;
    background: url(../../image/account_icon.png) -92px 0 no-repeat;
    display: block;
    overflow: hidden
}

.icon-set-psw {
    height: 18px;
    width: 18px;
    background: url(../../image/account_icon.png) -114px 0 no-repeat;
    display: block;
    overflow: hidden
}
.set-safe-info {
    padding-left: 30px;
    padding-right: 30px;
}
.set-safe-info li {
    border-bottom: 1px dotted #ededed;
    padding: 20px 0 20px 30px;
    position: relative;
}
.safe-levelBox {
    overflow: hidden;
    height: 28px;
    line-height: 28px;
}


.set-safe-info {
    padding-left: 30px;
    padding-right: 30px
}

.set-safe-info li {
    border-bottom: 1px dotted #ededed;
    padding: 20px 0 20px 30px;
    position: relative
}

.set-safe-info li .set-safe-title {
    font-size: 16px;
    margin-right: 10px
}

.set-safe-info li .set-safe-title i {
    margin: -4px 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    vertical-align: middle
}

.set-safe-info li.last {
    border-bottom: 0 none
}

.set-safe-info li .set-noApprove {
    color: #ff5150
}

.set-safe-info li .set-noApprove .icon-warn-s {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin-right: 4px;
    margin-top: -3px
}

.set-safe-info li .set-tag {
    padding: 2px 3px;
    background-color: #ddd;
    color: #fff;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.set-safe-info li .set-tag.blue {
    background-color: #1088f1
}

.set-safe-info li .set-tag.green {
    background-color: #3daf2c
}

.set-safe-info li .set-tag.orange {
    background-color: #ed702c
}

.set-safe-info li .set-tag.red {
    background-color: #ff5150
}

.set-safe-info li .set-safeTxt {
    color: #a1a1a1;
    padding-left: 28px;
    margin-top: 7px;
    font-size: 12px
}

.set-safe-info li .set-safeTxt.no-paddingL {
    padding-left: 0
}

.set-safe-info li .btn-setSafeBox {
    position: absolute;
    right: 25px;
    top: 28px;
    font-size: 0
}

.set-safe-info li .btn-setSafeBox .span-setSafe {
    width: 68px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #999;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline
}

.set-safe-info li .btn-setSafeBox .btn-setSafe {
    margin-left: 10px;
    width: 66px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ededed;
    color: #999;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    font-size: 12px
}

.set-safe-info li .btn-setSafeBox .btn-setSafe:hover {
    border-color: #1088f1;
    color: #1088f1
}

.safe-levelBox {
    overflow: hidden;
    height: 28px;
    line-height: 28px
}

.safe-levelBox:before,.safe-levelBox:after {
    content: "";
    display: table
}

.safe-levelBox:after {
    clear: both
}

.safe-level .safe-fraction {
    float: left;
    color: #a1a1a1;
    font-size: 13px
}

.safe-level .safe-fraction strong {
    font-size: 18px;
    margin-right: 5px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    text-align: right
}

.safe-level .safe-level-tips {
    color: #a1a1a1;
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 13px
}

.safe-level .safe-level-tips span {
    color: #ff5150;
    font-size: 18px;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold
}

.safe-level .safe-level-bar {
    float: left;
    width: 390px;
    margin: 14px 15px 0 8px
}

.safe-level .safe-level-bar .progress-level {
    width: 100%;
    height: 4px;
    background-color: #e5e5e5;
    display: block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.safe-level .safe-level-bar .progress-level .progress-level-in {
    width: 0%;
    height: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative
}

.safe-level .safe-level-bar .progress-level .progress-level-in .icon-safeLevel {
    background-image: url();
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: -3px;
    right: -2px
}

.safe-level.low-level .safe-fraction strong {
    color: #ff5150
}

.safe-level.low-level .safe-level-bar .progress-level .progress-level-in {
    background-color: #ff5150
}

.safe-level.low-level .safe-level-bar .progress-level .progress-level-in .icon-safeLevel {
    background-position: left -10px
}

.safe-level.medium-level .safe-fraction strong {
    color: #1088f1
}

.safe-level.medium-level .safe-level-bar .progress-level .progress-level-in {
    background-color: #1088f1
}

.safe-level.medium-level .safe-level-bar .progress-level .progress-level-in .icon-safeLevel {
    background-position: left -20px
}

.safe-level.height-level .safe-fraction strong {
    color: #68c00f
}

.safe-level.height-level .safe-level-bar .progress-level .progress-level-in {
    background-color: #68c00f
}

.safe-level.height-level .safe-level-bar .progress-level .progress-level-in .icon-safeLevel {
    background-position: left top
}






.sr-cont .sr-cont-inner .rech-opts {
    padding-top: 25px;
    padding-bottom: 45px
}

.sr-top-tips .inner {
    padding: 5px 0 15px;
    font-size: 14px
}

.sr-top-tips .inner .icon {
    margin-right: 5px;
    vertical-align: middle
}

.sr-top-tips .inner span {
    vertical-align: middle
}

.panel-box {
    padding: 0 20px
}

.panel-box .panel-row {
    padding: 16px 0;
    border-top: 1px dashed #ededed;
    color: #555
}

.panel-box .frist-row {
    border: none;
    border-width: 0
}

.set-box .panel-table {
    width: 100%
}

.set-box .row-2 {
    color: #a1a1a1
}

.set-box .row-3 {
    text-align: right
}

.set-box .row-3 a,.set-box .row-3 .list-dots .current a:hover,.list-dots .current .set-box .row-3 a:hover {
    margin-left: 20px
}

.panel-table {
    font-size: 12px
}

.panel-table td {
    height: 42px;
    line-height: 42px
}

.panel-table td i {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    vertical-align: text-top
}

.panel-table.verify-v2-table .row-1 {
    width: 150px
}

.panel-table .row-1 {
    width: 103px;
    color: #999;
    text-align: right
}

.panel-table .row-2 {
    padding: 0 10px
}

.panel-table .row-3 {
    padding: 0 10px
}

.panel-table .msg-box {
    display: block;
    font-size: 12px
}

.panel-table .msg-box i {
    margin: 11px 0 0
}

.panel-table .msg-box .msg-cnt {
    margin-left: 20px;
    font-size: 12px;
    color: #a1a1a1
}

.col-1 .i-text {
    width: 112px
}

.col-1 .btn-1 {
    width: 78px;
    font-size: 14px
}

.column {
    margin: 25px 0 25px 20px
}

.column .columnchart {
    margin-bottom: 10px
}

.column .column-reference {
    margin-left: 84px
}

.column .column-info {
    margin: 15px 0 0 84px
}

.columnchart {
    font-size: 14px
}

.columnchart .colum-name {
    float: left;
    margin-right: 14px;
    _display: inline;
    _zoom: 1
}

.columnchart .column-bar {
    float: left;
    max-width: 530px
}

.columnchart .colum-num {
    margin-left: 5px
}

.colum-name {
    width: 5em;
    height: 24px;
    line-height: 24px;
    color: #999;
    text-align: right
}

.column-bar .column-bar-num {
    height: 24px;
    line-height: 24px;
    background-color: #1088f1;
    color: #fff;
    display: block;
    font-size: 12px;
    text-indent: 7px
}

.colum-num {
    height: 24px;
    line-height: 24px
}

.column-bar-orange .column-bar-num {
    background-color: #ff7a04
}

.column-bar-orange .colum-num {
    color: #ff7a04
}

.column-bar-gray .column-bar-num {
    background-color: #a1a1a1
}

.column-bar-gray .colum-num {
    color: #a1a1a1
}

.column-bar-blue .column-bar-num {
    background-color: #2aa9e0
}

.column-bar-blue .colum-num {
    color: #2aa9e0
}

.column-bar-lightblue .column-bar-num {
    background-color: #37d6fd
}

.column-bar-lightblue .colum-num {
    color: #37d6fd
}

.column-bar-green .column-bar-num {
    background-color: #01cc34
}

.column-bar-green .colum-num {
    color: #01cc34
}

.column-reference .cr-bar {
    height: 2px
}

.column-reference .cr-bar li {
    float: left;
    margin-right: 1px;
    width: 52px;
    height: 2px;
    background-color: #dedede;
    _display: inline;
    _zoom: 1
}

.column-reference .cr-num {
    height: 18px;
    line-height: 18px
}

.column-reference .cr-num li {
    float: left;
    margin-right: 27px;
    color: #dedede;
    font-size: 12px;
    _display: inline;
    _zoom: 1
}

.column-info {
    font-size: 14px
}

.column-info .ci-num {
    margin-right: 55px;
    font-size: 22px
}

.column-info .ci-green {
    color: #01cc34
}

.column-info .ci-blue {
    color: #29a8dd
}

.peiziRecord-table {
    *position: relative;
    *zoom:1}

.peiziRecord-table .btn {
    width: 66px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden
}

.peiziRecord-table tr:hover td {
    background-color: #f1f1f1
}

.peiziRecord-table td {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer
}

.peiziRecord-table .peiziRecord-tag {
    width: 48px;
    height: 22px;
    line-height: 22px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.peiziRecord-table .peiziRecord-tag.red {
    border-color: #ff5150;
    color: #ff5150
}

.peiziRecord-table .peiziRecord-tag.blue {
    border-color: #1088f1;
    color: #1088f1
}

.peiziRecord-table .peiziRecord-tag.green {
    border-color: #3daf2c;
    color: #3daf2c
}

.peiziRecord-table .peiziRecord-tag.orange {
    border-color: #ed702c;
    color: #ed702c
}

.funds-mod .prj-item {
    padding-bottom: 15px;
    border-bottom: none;
    border-bottom-width: 0
}

.funds-mod .prj-item:hover {
    background-color: #fff
}

.prj-ul {
    position: relative
}

.prj-ul .prj-hd {
    background-color: #f6f6f6
}

.prj-ul .prj-li {
    height: 42px;
    *vertical-align: bottom
}

.prj-ul .prj-a {
    height: 100%;
    border-bottom: 1px solid #f7f7f7;
    color: #666;
    display: block;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

.prj-ul .prj-a:hover {
    background-color: #f7f7f7;
    border-bottom-color: #e7e7e7
}

.prj-ul .col {
    float: left;
    height: 42px;
    line-height: 42px
}

.prj-ul .col-1 {
    text-indent: 20px;
    width: 17%
}

.prj-ul .col-2 {
    width: 30%
}

.prj-ul .col-3 {
    width: 17%
}

.prj-ul .col-4 {
    width: 17%
}

.prj-ul .col-5 {
    width: 10%
}

.prj-ul .col-6 {
    width: 8%
}

.prj-ul .hot {
    color: #fd9951;
    font-size: 14px
}

.stats-mod {
    background-color: #fff
}

.stats-mod .stats-items {
    padding: 18px 0 19px
}

.stats-mod .stats-btn {
    position: absolute;
    top: 43px;
    left: 30%;
    width: 17%;
    font-size: 0
}

.stats-mod .stats-btn .btn {
    margin-right: 5%;
    margin-right: 4% \9;
    width: 45%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline
}

.stats-mod .stats-safe {
    margin: 0 20px;
    padding: 12px 0;
    border-top: 1px solid #ededed
}

.stats-items {
    position: relative;
    overflow: hidden
}

.stats-items .stats-item {
    float: left;
    padding: 0 20px;
    width: 20%;
    border-left: 1px solid #fff;
    color: #999
}

.stats-items .stats-item dt {
    padding-bottom: 8px
}

.stats-items .stats-item b {
    font-weight: normal;
    font-size: 14px
}

.stats-items .stats-item b i {
    vertical-align: middle
}

.stats-items .stats-item strong {
    line-height: 1.2;
    color: #ed702c;
    font-size: 24px;
    font-weight: normal
}

.stats-items .stats-item p {
    margin-top: 5px;
    line-height: 1.2;
    color: #555;
    font-size: 20px
}

.stats-items .si-1 {
    padding-left: 20px;
    width: 44%
}

.stats-items .si-2 {
    width: 23%
}

.stats-items .si-3 {
    width: 23%
}

.stats-items .last-item {
    border-right: none;
    border-right-width: 0
}

.stats-items .frist-item {
    border-left: none;
    border-left-width: 0
}

.stats-safe .icon {
    margin-right: 6px;
    vertical-align: middle
}

.stats-safe a,.stats-safe .list-dots .current a:hover,.list-dots .current .stats-safe a:hover {
    color: #1088f1;
    font-size: 14px;
    vertical-align: middle
}

.stats-safe a:hover,.stats-safe .list-dots .current a:hover,.list-dots .current .stats-safe a:hover {
    color: #1088f1;
    text-decoration: underline
}

.info-box-count .pst-circle,.info-overview-panel .arrow-up,.stats-box .btn-view-info i,.stats-box .hidden-info i,.stats-box .btn-view-info:hover i,.bubble-box .arrow {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    background-image: url("");
    background-repeat: no-repeat;
    vertical-align: middle
}

.info-box-count .pst-circle {
    height: 44px;
    width: 44px;
    background-position: 0 0
}

.info-overview-panel .arrow-up {
    height: 8px;
    width: 13px;
    background-position: -163px -36px
}

.stats-box .btn-view-info i {
    height: 40px;
    width: 40px;
    background-position: -124px 0
}

.stats-box .hidden-info i {
    height: 40px;
    width: 40px;
    background-position: -44px 0
}

.stats-box .btn-view-info:hover i {
    height: 40px;
    width: 40px;
    background-position: -84px 0
}

.bubble-box .arrow {
    height: 16px;
    width: 12px;
    background-position: -164px 0
}

.stats-box {
    background-color: #fff
}

.stats-box .stats-items {
    font-size: 0;
    overflow: visible
}

.stats-box .btn-view-info {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer
}

.stats-box .btn-sm {
    margin-right: 10px;
    width: 70px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline
}

.stats-box .info-box {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    width: 50%;
    vertical-align: top;
    position: relative;
    padding: 25px 0
}

.stats-box .info-overview-panel {
    margin: 0 25px;
    border-bottom: 1px solid #f5f5f5;
    position: relative
}

.stats-box .info-overview-panel .si-1 {
    padding-left: 25px;
    width: 225px
}

.stats-box .info-overview-panel .si-2 {
    width: 210px
}

.stats-box .info-overview-panel .si-3 {
    width: 200px;
    padding-left: 50px;
    border-left: 1px solid #f5f5f5
}

.stats-box .info-overview-panel .value {
    color: #ed702c
}

.stats-box .info-overview {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    vertical-align: top;
    position: relative;
    margin: 25px 0;
    font-size: 14px;
    color: #666
}

.stats-box .info-overview dt {
    padding-bottom: 10px
}

.stats-box .info-overview dd {
    color: #222;
    font-size: 24px
}

.stats-box .info-box-item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    width: 50%;
    font-size: 14px;
    color: #999
}

.stats-box .info-box-item b {
    font-weight: normal;
    font-size: 14px
}

.stats-box .info-box-item strong {
    font-weight: normal
}

.stats-box .info-box-count,.stats-box .stats-safe {
    margin-left: 50px
}

.stats-box .item-1 {
    width: 60%
}

.stats-box .item-2 {
    width: 40%
}

.stats-box .tbc {
    color: #c9c9c9;
    padding-left: 110px;
    padding-top: 10px
}

.info-overview-panel .arrow-up {
    position: absolute;
    bottom: -1px;
    left: 60px
}

.info-box-count {
    padding-left: 54px;
    position: relative;
    min-height: 44px
}

.info-box-count .pst-circle {
    text-align: center;
    line-height: 44px;
    color: #1088f1;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px
}

.info-box-count dt,.info-box-count dd {
    color: #222;
    line-height: 1
}

.info-box-count dt {
    display: block;
    color: #666;
    padding-bottom: 10px
}

.info-box-count dd {
    font-size: 18px
}

.bubble-wp {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    padding-right: 15px
}

.bubble-box {
    opacity: 0;
    visibility: hidden;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 100%;
    z-index: 2;
    color: #666;
    font-size: 12px;
    box-shadow: 0 0 2px rgba(149,156,169,0.25)
}

.bubble-box .inner {
    line-height: 1
}

.bubble-box p {
    white-space: nowrap;
    padding: 5px 0
}

.bubble-box .arrow {
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -8px;
    z-index: 2
}
