.friend-records{width:100%;min-height:500px}
.friend-items {font-size: 12px;background: #fff;*zoom:1}
.redeem-items:after{ visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0; overflow: hidden }
.friend-items .items{ height:57px; line-height:57px; overflow:hidden; position:relative; z-index:2;padding:0 10px; border-bottom:1px solid #e9edef}
.friend-items li{ float:left; display:inline; height:57px; width:16%; overflow:hidden; position:relative}
.friend-items li.col_1{width:30%;text-align:left; text-indent:20px}
.friend-items li.col_2{ width:20%; text-align:right}
.friend-items li.col_3{width:40%;text-align:right;color:#007ddb}
.friend-items .title{ font-size:13px; overflow:visible; z-index:5}
.friend-items .title li{ padding:0; overflow:visible}
.friend-items .title li.col_3{ color:#475058}