.my_invite .iShare-d{height:120px;width:100%}
.my_invite .iShare-d a{display:inline-block;margin-top:20px;line-height:130px;width:19%;height:50px}
.my_invite .iShare-d span{display:block;text-align:center;font-size:12px;color:#999}
.my_invite .iShare-d .wxShare{background:no-repeat center 0}
.my_invite .iShare-d .iShare-sinaweibo{background:no-repeat center -60px}
.my_invite .iShare-d .iShare-qqhaoyou{background:no-repeat center -120px}
.my_invite .iShare-d .iShare-qqkongjian{background:no-repeat center -180px}
.my_invite .iShare-d .copy-link{background:no-repeat center -240px}
.my_invite .iShare-d .wxShare:hover{background:no-repeat center -300px}
.my_invite .iShare-d .iShare-sinaweibo:hover{background:no-repeat center -360px}
.my_invite .iShare-d .iShare-qqhaoyou:hover{background:no-repeat center -420px}
.my_invite .iShare-d .iShare-qqkongjian:hover{background:no-repeat center -480px}
.my_invite .iShare-d .copy-link:hover{background:no-repeat center -540px}
.my_invite .iShare-d .copy-link,.my_invite .iShare-d .copy-link:hover,.my_invite .iShare-d .iShare-qqhaoyou,.my_invite .iShare-d .iShare-qqhaoyou:hover,.my_invite .iShare-d .iShare-qqkongjian,.my_invite .iShare-d .iShare-qqkongjian:hover,.my_invite .iShare-d .iShare-sinaweibo,.my_invite .iShare-d .iShare-sinaweibo:hover,.my_invite .iShare-d .wxShare,.my_invite .iShare-d .wxShare:hover{background-image:url(../../image/my_invite.png)}
