<!-- 关于我们的导航条 S -->
<div class="ab-navbar">
    <div class="main-section">
        <ul class="ab-nav">
            <li><a href="javascript:;" data-href="/about/about.html" id="about_nav_about">关于我们</a></li>
            <li><a href="javascript:;" data-href="/about/commerce.html" id="about_nav_commerce">工商信息</a></li>
            <li><a href="javascript:;" data-href="/about/official.html" id="about_nav_official">官方渠道</a></li>
            <li><a href="javascript:;" data-href="/about/cfo.html" id="about_nav_cfo">实时数据</a></li>
            <li><a href="javascript:;" data-href="/about/events.html" id="about_nav_events">大事记</a></li>
            <li><a href="javascript:;" data-href="/about/notice.html" id="about_nav_notice">公司公告</a></li>
            <li><a href="javascript:;" data-href="/about/media.html" id="about_nav_media">媒体报道</a></li>
            <li><a href="javascript:;" data-href="/about/info.html" id="about_nav_info">法律声明</a></li>
            <li><a href="javascript:;" data-href="/about/contact.html" id="about_nav_contact">联系我们</a></li>
            <div class="f-cb"></div>
        </ul>
    </div>
</div>
<!-- 关于我们的导航条 E -->