<!-- 关于我们的导航条 S -->
<div class="ab-navbar">
    <div class="main-section">
        <ul class="ab-nav">
            <li><a href="javascript:;" data-href="/about/about.html">关于我们</a></li>
            <li><a href="javascript:;" data-href="/about/safety.html">安全保障</a></li>
            <li><a href="javascript:;" data-href="/about/commerce.html">工商信息</a></li>
            <li><a href="javascript:;" data-href="/about/official.html">官方渠道</a></li>
            <li><a href="javascript:;" data-href="/about/cfo.html">实时数据</a></li>
            <li><a href="javascript:;" data-href="/about/events.html">大事记</a></li>
            <li><a href="javascript:;" data-href="/about/notice.html">公司公告</a></li>
            <li><a href="javascript:;" data-href="/about/media.html">媒体报道</a></li>
            <li><a href="javascript:;" data-href="/about/info.html">法律声明</a></li>
            <li><a href="javascript:;" data-href="/about/contact.html">联系我们</a></li>
            <div class="f-cb"></div>
        </ul>
    </div>
</div>
<!-- 关于我们的导航条 E -->