<!-- https://www.jiurong.com/index/index.html -->
<!-- footer -->
<footer class="wdg-fjw-footer">
	<div class="footer-center">
		<div class="friend-link">
			<div class="f-l-l">友情链接</div>
			<div class="f-l-r">
				<ul>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.p2pjy.com">网贷精英</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.wangdaisky.com">网贷门户</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.wangdaikuaixun.com">网贷快讯</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.dianpifa.com">P2P理财</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.p2p265.com">网贷世界</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.wdlm.cn">网贷联盟</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.wangdaizhijia.com">网贷之家</a>
					</li>
					<li class="f-fl">
						<a class="gray" target="_blank" href="http://www.p2peye.com">网贷天眼</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="desc">
			<span class="up-line"></span>
			<span class="down-line"></span>
			<div class="d-l">
				<p class="first">©
					<span class="year">2017</span> 上海雁鸿翔金融信息服务有限公司 All rights reserved </p>
				<p class="gray">
					<span>沪ICP备14049646号</span>
					<span style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"></span>
				</p>
				<p>上海雁鸿翔金融信息服务有限公司: 市场有风险 投资需谨慎 座机号码 021-62330705</p>
			</div>
			<div class="d-c">
				<div class="d-c-wx">
				</div>
				<div class="d-c-app">
				</div>
			</div>
			<div class="d-r">
				<div class="phone">400-167-6880</div>
				<div class="time">服务时间: 9:00-18:00</div>
			</div>
		</div>
		<div class="img-show">
			<a rel="external nofollow" class="ui-footer-verification-item f-fl itrust" title="" href="" target="_blank"></a>
			<a rel="external nofollow" class="ui-footer-verification-item f-fl customer" title="" href="" target="_blank"></a>
			<a rel="external nofollow" class="ui-footer-verification-item f-fl copper" title="" href="" target="_blank"></a>
			<a rel="external nofollow" class="ui-footer-verification-item f-fl hundred" title="" href="" target="_blank"></a>
			<a rel="external nofollow" class="ui-footer-verification-item f-fl norton" title=" " href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=renrendai.com&amp;lang=zh_cn"
			 target="_blank"></a>
		</div>
	</div>
</footer>
<!-- footer end -->
<script>
	window.user = {
		token: '',
		phone: '',
		avator: '',
		balance: 0,
		isBuy: 0,
		isAuthen: 0,
		isLogin: false
	};

	var fjw = fjw || {};
	fjw.pc = fjw.pc || {};
	fjw.pc.page = fjw.pc.page || {};

	var App = App || {};
	App.debug = true;
	App.webUrl = App.debug ? 'http://192.168.1.53:8010/dist/view' : 'https://www.fangjinnet.com/dist/view';

</script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>
	function login(url) {
		var returnUrl = jQuery.getUrlParam("redirect");
		if (window.user.isLogin) {
			// 已经登录 点击直接进入页面
			return window.location.href = returnUrl == null ? App.webUrl + '/my/index.html' : returnUrl;
		} else {
			return window.location.href = App.webUrl + '/user-login.html?redirect=' + encodeURIComponent(url);
		}
	}
	function regist() {
		var returnUrl = jQuery.getUrlParam("redirect");
		return window.location.href = App.webUrl + '/user-register.html?redirect=' + encodeURIComponent(window.location.href);
	}
	(function (jQuery) {
		jQuery.getUrlParam = function (name) {
			var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
			var result = window.location.search.substr(1).match(reg);
			return result ? decodeURIComponent(result[2]) : null;
		}
	})(jQuery);

</script>