<!-- 右侧工具栏 start-->
<div class="tdw-tools-bar" id="tdwToolBar">
    <ul>
        <li>
            <a href="javascript:;" id="toolRisk">
                <i class="tdw-icons i-tool-risk"></i>
                <p>风险<br>提示</p>
            </a>
            <div class="risk-tips" style="display: none;">
                <i></i>
                <p>市场有风险<br>投资需谨慎</p>
            </div>
        </li>
        <li>
            <a href="javascript:;" onclick="javascript:window.open('http://www.sobot.com/chat/pc/index.html?sysNum=20ab7dce1e3346e8b90b649bd8baf591');" target="_blank">
                <i class="tdw-icons i-tool-service"></i>
                <p>在线<br>客服</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="javascript:window.open('//info.tdw.cn/help/index.html')">
                <i class="tdw-icons i-tool-help"></i>
                <p>帮助<br>中心</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="javascript:window.open('//news.tdw.cn/tool/int_fina.aspx');">
                <i class="tdw-icons i-tool-calculate"></i>
                <p>计算<br>工具</p>
            </a>
        </li>

        <li class="last-border tool-backtop" id="tool-backtop" style="display:none;">
            <a href="javascript:;">
                <i class="tdw-icons i-tool-backtop"></i>
                <p>回到<br>顶部</p>
            </a>
        </li>
    </ul>
</div>
<!-- 右侧工具栏 end-->
<!--footer start-->
<div class="tdw-footer">
    <div class="wth-1200 tdw-footer-container">
        <div class="tdw-footer-t">
            <div class="f-fl col1">
                <dl>
                    <dt>新手帮助</dt>
                    <dd><a rel="nofollow" href="https://hd.tdw.cn/web/newhand/classroom.aspx?tdsource=pcnewguide">新手指引</a></dd>
                    <dd><a rel="nofollow" href="http://info.tdw.cn/help/index.html">帮助中心</a></dd>
                    <dd><a rel="nofollow" href="http://info.tdw.cn/help/list.html?mark=70">资费介绍</a></dd>
                </dl>
                <dl>
                    <dt>安全保障</dt>
                    <dd><a rel="nofollow" href="http://info.tdw.cn/about/laws.html?mark=18">法律法规</a></dd>
                    <dd><a rel="nofollow" href="http://info.tdw.cn/about/guarantee.html?mark=1">安全保障</a></dd>
                    <dd><a rel="nofollow" href="http://info.tdw.cn/about/partners.html?mark=13">合作机构</a></dd>
                </dl>
                <dl>
                    <dt>如何理财</dt>
                    <dd><a target="_blank" href="https://www.tuandai.com/article/">投资资讯</a></dd>
                    <dd><a target="_blank" href="http://ask.tuandai.com">团贷问答
                    </a></dd>
                    <dd><a target="_blank" href="http://baike.tuandai.com">团贷百科
                    </a></dd>
                </dl>
            </div>
            <div class="f-fl col2">
                <div class="app-code">
                    <p>下载APP，理财更方便</p>
                </div>
                <div class="wechat-code">
                    <p>关注公众号，活动早知道</p>
                </div>
            </div>
            <div class="f-fr col3">
                <strong>1010-1218</strong>
                <p>客服电话：（服务时间：9:00-22:00)</p>
                <a class="rel custombox" href="http://www.sobot.com/chat/pc/index.html?sysNum=20ab7dce1e3346e8b90b649bd8baf591" target="_blank" title="在线服务" rel="nofollow">
                    <span class="btn-text"><i class="tdw-icons i-foot-customer fa fa-commenting-o"></i>在线客服</span></a>
            </div>
        </div>
        <div class="tdw-footer-links" style="display: block;">
            <div class="f-fl links-tit">友情链接：</div>
            <ul class="f-fl">
                <li>
                    <a target="_blank" href="http://www.jinqiao80.com/">金巧网</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.tuandai.com/">p2p理财</a>
                </li>
                <li>
                    <a target="_blank" href="http://baike.tuandai.com/licai/">理财百科</a>
                </li>
                <li>
                    <a target="_blank" href="http://ask.tuandai.com/c-2.html">理财问答</a>
                </li>
                <li>
                    <a target="_blank" href="http://baike.tuandai.com/touzi/">投资百科</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.paisheng.com/smjj/2/">私募学堂</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.niiwoo.com/">你我金融</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.paisheng.com/tyzx/">私募资讯</a>
                </li>
                <li>
                    <a target="_blank" href="http://baike.jinqiao80.com">金巧百科</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.tuandai.com/article/list_01.html">投资理财知识</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.binpeng99.com/">国盛金业</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.caifugang.com/">财富外汇</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.batiaoyu.com/">p2p投资理财</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.yinzipu.com/">P2P理财平台</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.51daishu.com/">网络借贷</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.jujinziben.com/">p2p投资理财</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.leadercf.com/">礼德财富</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.yinqiao.com/">理财返利</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.lvhuadai.com/">绿化贷理财</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.xgqq.com">票据理财</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.qianmama.com/">投资理财网站</a>
                </li>
                <li>
                    <a target="_blank" href="http://gold.cngold.com.cn/">中金黄金</a>
                </li>
            </ul>
            <div class="f-fl hide-btn">展开<i class="tdw-icons i-arrow-up1"></i></div>
        </div>
        <div class="tdw-footer-supervise">
            <a rel="external nofollow" class="ui-footer-verification-item f-fl cnnic" title="" href="https://ss.knet.cn/verifyseal.dll?sn=e16102531010464997gqhm000000&amp;ct=df&amp;a=1&amp;pa=0.7898634780551085" target="_blank"></a>
            <a rel="external nofollow" class="ui-footer-verification-item f-fl webscan" title="" href="http://webscan.360.cn/index/checkwebsite?url=fangjinnet.com%2F" target="_blank"></a>
            <a rel="external nofollow" class="ui-footer-verification-item f-fl anquan" title="" href="https://v.pinpaibao.com.cn/cert/site/?site=fangjinnet.com&at=business" target="_blank"></a>
            <a rel="external nofollow" class="ui-footer-verification-item f-fl wosign" title="" href="https://seal.wosign.com/Signature/Profiles/bp/CN/f92435d079a44f79b4d4a06774a6e69b.htm?ref=aHR0cHM6Ly9mYW5namlubmV0LmNvbQ==" target="_blank"></a>
        </div>
        <div class="tdw-footer-address tc fz12">
            版权所有 © 房金网 <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">沪ICP备14049646号</a> 上海雁鸿翔金融信息服务有限公司
        </div>
    </div>
</div>
<!--footer end-->
<script>
	window.user={token:'',phone:'',avator:'',balance:0,isBuy:0,isAuthen:0,isLogin:false};var fjw=fjw||{};fjw.pc=fjw.pc||{};fjw.pc.page=fjw.pc.page||{};
</script>