<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta name="author" content="mr.ben(66623978)">
<link href="//js.fangjinnet.com" rel="dns-prefetch">
<link href="//css.fangjinnet.com" rel="dns-prefetch">
<link href="//imgs.fangjinnet.com" rel="dns-prefetch">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE">
<meta name="keywords" content="房金网,一线资产项目金融, 一线资产项目金融平台、互联网理财，理财产品，理财APP，掌上理财,p2p理财产品，互联网理财，个人理财，互联网金融">
<meta name="description" content="房金网理财平台,安全有保障的互联网理财平台,为投资者提供房金宝系列的优质理财产品,资金灵活！10元起投,多层理财项目审核机制,为您的资金保驾护航！互联网投资理财,就选房金网，理财更安全，收益有保障！">
<meta property="og:type" content="website">
<meta property="og:site_name" content="房金网">
<meta property="og:url" content="https://www.fangjinnet.com/">
<meta property="og:image" content="//pc-static.caifuxq.com/v1/revs/images/seologo.png?v=2016081201">
<meta property="og:title" content="房金网,一线资产项目金融, 一线资产项目金融平台、互联网理财，理财产品，理财APP，掌上理财,p2p理财产品，互联网理财，个人理财，互联网金融">
<meta property="og:description" content="房金网理财平台,安全有保障的互联网理财平台,为投资者提供房金宝系列的优质理财产品,资金灵活！10元起投,多层理财项目审核机制,为您的资金保驾护航！互联网投资理财,就选房金网，理财更安全，收益有保障！">
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.fangjinnet.com/">

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>