<!-- second header -->
<header class="wdg-fjw-second-header">
    <div class="main-section current-channel-index">
        <div class="logo f-fl">
            <a class="pic" href="./index.html" title="房金网理财"></a>
        </div>
        <div class="user-box f-fr F_user">
            <a class="portal" href="">
                <i class="fa fa-user-o userfont"></i>我的账户<i class="fa fa-angle-down arrow"></i>
            </a>
            <div class="mask"></div>
            <nav class="f-fr">
                <div class="user f-cb">
                    <div class="u-avatar f-fl">
                        <img class="F_userIcon" src="">
                    </div>
                    <div class="f-fl">
                        <em class="F_userPhone"></em><i class="fa fa-envelope-o fa-fw"></i><br>
                        <i>欢迎来到房金网</i>
                    </div>
                </div>
                <div class="sitenav">
                    <a href="./my/index.html">账户总览</a>
                    <a href="./my/userinfo.html?from=home_nav">个人信息</a>
                    <a href="./my/custody.html?from=home_nav">资金存管</a>
                    <a href="./my/invest.html?from=home_nav">我的投资</a>
                    <a href="./my/coupon.html?from=home_nav">我的卡券</a>
                    <a href="./my/captial.html?from=home_nav">资金流水</a>
                    <a href="./my/recharge-drawal.html?from=home_nav">充值提现</a>
                    <a href="./my/invite.html?from=home_nav">邀请好友</a>
                    <a href="./my/account.html?from=home_nav">账户设置</a>
                    <a class="F_out" href="javascript:;">安全退出</a>
                </div>
            </nav>
        </div>
        <nav class="nav-box f-fr">
            <a href="./index.html" class="active">首页</a>
            <a href="../product/index.html">理财</a>
            <a href="./active-list.html">最新活动</a>
            <a href="./safety.html">安全保障</a>
            <a href="">
                新手有礼
                <i class="light"></i>
            </a>
        </nav>
    </div>
</header>
<!-- second header end -->