<div class="loading-mask f-hide"></div>
<div class="loading-box f-hide">
    <div class="loading-tips"><img src="../../image/ico_loading.png" alt="" /><span>加载中...</span></div>
</div>
<!-- second header -->
<header class="wdg-fjw-second-header">
    <div class="main-section current-channel-index">
        <div class="logo f-fl">
            <a class="pic" href="javascript:;" href="/index.html" title="房金网理财"></a>
        </div>
        <div class="user-box f-fr F_user">
            <a class="portal" href="javascript:;" data-href="/my/index.html" data-needLogin="true">
                <i class="fa fa-user-o userfont"></i>我的账户<i class="fa fa-angle-down arrow"></i>
            </a>
            <div class="mask"></div>
            <nav class="f-fr">
                <div class="user f-cb">
                    <div class="u-avatar f-fl">
                        <img class="F_userIcon" src='../../image/logo-wb.png'>
                    </div>
                    <div class="f-fl">
                        <em class="F_userPhone"></em><i class="fa fa-envelope-o fa-fw"></i><br>
                        <i>欢迎来到房金网</i>
                    </div>
                </div>
                <div class="sitenav">
                    <a href="javascript:;" data-href="/my/index.html" data-needLogin="true">账户总览</a>
                    <a href="javascript:;" data-href="/my/custody.html?from=home_nav" data-needLogin="true">账户安全</a>
                    <a href="javascript:;" data-href="/my/invest.html?from=home_nav" data-needLogin="true">我的投资</a>
                    <a href="javascript:;" data-href="/my/coupon.html?from=home_nav" data-needLogin="true">我的卡券</a>
                    <a href="javascript:;" data-href="/my/caption.html?from=home_nav" data-needLogin="true">资金流水</a>
                    <a href="javascript:;" data-href="/my/paydeposit.html?from=home_nav" data-needLogin="true">充值提现</a>
                    <a href="javascript:;" data-href="/my/invite.html?from=home_nav" data-needLogin="true">邀请好友</a>
                </div>
            </nav>
        </div>
        <nav class="nav-box f-fr">
            <a href="javascript:;" data-href="/index.html" id="nav_home">首页</a>
            <a href="javascript:;" data-href="/product/index.html" id="nav_invest">理财</a>
            <a href="javascript:;" data-href="/about/cfo.html" data-href1="https://www.tutengdai.com/cfo/" id="nav_cfo">实时财务</a>
            <a href="javascript:;" data-href="/active-list.html" id="nav_active">最新活动</a>
            <a href="javascript:;" data-href="/about/safety.html" id="nav_safety">安全保障</a>
            <a href="javascript:;" data-href="">新手有礼<i class="light"></i></a>
        </nav>
    </div>
</header>
<!-- second header end -->