<div class="my-main-l">
    <ul class="my-nav-list f-cb">
        <li class="nav-list-item">
            <div class="nav-list-title" style="border-top: 0">
                <i class="fa fa-id-card"></i>
                <span>我的账户</span>
            </div>
            <ul class="nav-list-con">
                <li class="active">
                    <a href="./index.html">账户总览</a>
                </li>
                <li>
                    <a href="./userinfo.html">个人信息</a>
                </li>
                <li>
                    <a href="./custody.html">存管账户</a>
                </li>
            </ul>
        </li>
        <li class="nav-list-item">
            <div class="nav-list-title">
                <i class="fa fa-bar-chart"></i>
                <span>投资管理</span>
            </div>
            <ul class="nav-list-con">
                <li>
                    <a href="https://www.itouzi.com/user/borrow">我的投资</a>
                </li>
                <li>
                    <a href="https://www.itouzi.com/user/debt">我的卡券</a>
                </li>
                <li>
                    <a href="https://www.itouzi.com/user/debt">资金流水</a>
                </li>
            </ul>
        </li>
        <li class="nav-list-item">
            <div class="nav-list-title">
                <i class="fa fa-credit-card"></i>
                <span>账户管理</span>
            </div>
            <ul class="nav-list-con">
                <li>
                    <a href="https://www.itouzi.com/user/invite">充值提现</a>
                </li>
                <li>
                    <a href="https://www.itouzi.com/user/coupon">我的优惠券</a>
                </li>
                <li>
                    <a href="https://www.itouzi.com/user/points">我的积分</a>
                </li>
            </ul>
        </li>
        <li class="nav-list-item">
            <div class="nav-list-title">
                <i class="fa fa-gift"></i>
                <span>推荐有礼</span>
            </div>
            <ul class="nav-list-con">
                <li>
                    <a href="https://www.itouzi.com/user/cardmanage">邀请好友</a>
                </li>
                <li>
                    <a href="./friends.html">我的好友</a>
                </li>
            </ul>
        </li>
    </ul>
</div>