<div class="my-main-l">
    <ul class="my-nav-list f-cb">
        <li class="nav-list-item">
            <div class="nav-list-title" style="border-top: 0">
                <i class="fa fa-id-card"></i>
                <span>我的账户</span>
            </div>
            <ul class="nav-list-con">
                <li id="sub_nav_index">
                    <a href="./index.html">账户总览</a>
                </li>
                <li id="sub_nav_custody">
                    <a href="./custody.html">账户安全</a>
                </li>
            </ul>
        </li>
        <li class="nav-list-item">
            <div class="nav-list-title">
                <i class="fa fa-bar-chart"></i>
                <span>投资管理</span>
            </div>
            <ul class="nav-list-con">
                <li id="sub_nav_invest">
                    <a href="./invest.html">我的投资</a>
                </li>
                <li id="sub_nav_coupon">
                    <a href="./coupon.html">我的卡券</a>
                </li>
                <li id="sub_nav_caption">
                    <a href="./caption.html">资金流水</a>
                </li>
            </ul>
        </li>
        <li class="nav-list-item">
            <div class="nav-list-title">
                <i class="fa fa-credit-card"></i>
                <span>账户管理</span>
            </div>
            <ul class="nav-list-con">
                <li id="sub_nav_paydeposit">
                    <a href="./paydeposit.html">充值提现</a>
                </li>
                <li id="sub_nav_bindcard">
                    <a href="./bindcard.html">绑卡认证</a>
                </li>
            </ul>
        </li>
        <li class="nav-list-item">
            <div class="nav-list-title">
                <i class="fa fa-gift"></i>
                <span>推荐有礼</span>
            </div>
            <ul class="nav-list-con">
                <li id="sub_nav_invite">
                    <a href="./invite.html">邀请好友</a>
                </li>
                <li id="sub_nav_friends">
                    <a href="./friends.html">我的好友</a>
                </li>
            </ul>
        </li>
    </ul>
</div>