<!--顶部 start-->
<nav class="top-nav">
    <nav class="nav-box">
        <div class="l-nav">
            <span class="tel-phone">
                <i class="fa fa-phone"></i>
                客服电话: 400-167-6880 &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i>
                工作时间：09:00 - 18:00
            </span>
        </div>
        <div class="r-nav">
            <a class="nav-item weixin pop" href="javascript:;">
                <i class="fa fa-weixin"></i>
                <div class="mask"></div>
                <div class="popdown">
                    <img src="../../image/logo-down-qr.png" width="120" height="120">
                    <h6>扫码关注房金网微信公众号</h6>
                </div>
            </a>
            <a class="nav-item weibo pop" href="http://weibo.com/u/5979903844/home" target="_blank">
                <i class="fa fa-weibo"></i>
                <div class="mask"></div>
                <div class="popdown">
                    <img src="../../image/logo-wb.png" width="80" height="80">
                    <span class="btn btn-primary">+关注房金网微博</span>
                </div>
            </a>
            <a class="nav-item qun pop" href="http://shang.qq.com/wpa/qunwpa?idkey=1c01cd761469f5d3a900934f90bee3731ffebd0ff0c378d323ccaa648a61b172" target="_blank">
                <i class="fa fa-qq"></i>
                <div class="mask"></div>
                <div class="popdown">
                    <img src="../../image/logo-qq.png" alt="房金网官方微信号">
                    <h6>QQ群:365501376</h6>
                    <h7>加入QQ群</h7>
                </div>
            </a>
            <a class="nav-item app pop" href="" target="_blank">
                房金网理财APP
                <div class="mask"></div>
                <div class="popdown">
                    <img src="../../image/logo-down-qr.png" width="90" height="90">
                    <h6>下载房金网理财APP</h6>
                    <h7>更多惊喜等你来</h7>
                </div>
            </a>
            <a class="nav-item" href="javascript:;" data-href="/about/about.html">关于我们</a>
            <a class="nav-item" href="javascript:;" data-href="/help/list.html">帮助中心</a>
            <a class="nav-item F_user F_reg F_unLogin" href="javascript:regist();">注册</a>
            <a class="nav-item F_user F_login F_unLogin" href="javascript:login();">立即登录</a>
            <a class="nav-item F_user F_isLogin f-hide" style="display: none;"></a>
        </div>
    </nav>
</nav>
<!--顶部 end-->