<!doctype html>
<html lang="zh-cn">
<head>
	<title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
	<%= require('html-loader!../layout/nav.html')%>
	<%= require('html-loader!../layout/header.html')%>
	<div class="main-wrap f-register">
		<div class="main-section">
			<div class="register-box-page">
				<h2 class="register-title">用户注册</h2>
				<form class="form register-form" onsubmit="return false">
					<div class="form-item">
						<input name="phone" id="phone" type="text" autocomplete="off" class="input input-auto input-underline" placeholder="请输入手机号">
					</div>
					<div class="form-item">
						<input name="password" id="password" type="password" autocomplete="off" class="input input-auto input-underline" placeholder="请输入密码">
					</div>
					<div class="form-item form-item-valicode">
                        <input name="code" id="code" type="text" autocomplete="off" class="input input-small input-underline valicode" placeholder="请输入短信验证码">
                        <button class="btn btn-default valicode-captch" value="发送验证码">发送验证码</button>
					</div>
					<div class="form-item">
						<input name="friend" id="friend" type="text" autocomplete="off" class="input input-auto input-underline" placeholder="请输入好友号码">
					</div>
					<div class="form-item form-item-captch">
						<input name="valicode-captch" type="text" autocomplete="off" class="input input-small input-underline captch" placeholder="请输入验证码">
						<img class="img-captch" title="点击获取验证码" alt="点击获取验证码" src="https://www.itouzi.com/apiService/captcha/login?t=0.8737529212909079">
					</div>
					<div class="form-item form-item-remember">
						<span class="forget-pass-register">
							<a class="forget-pass" href="./user-pass-reset.html">忘记密码</a>&nbsp;&nbsp;
							<a class="register" href="/user/register.html">免费注册</a>
						</span>
					</div>
					<div class="form-item form-item-register-btn">
						<button class="btn btn-info registerbtn">注册</button>
						<div class="error"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<%= require('html-loader!../layout/footer.html')%>
</body>

</html>