.m-pay{background-color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;padding:40px;padding-top:10px;color:#666;font-size:14px}
.m-pay .name{color:#333;font-size:18px;height:70px;line-height:70px;border-bottom:1px solid #f1f1f1}
.m-pay .m-item .title{width:150px;font-size:16px;padding-right:30px;padding-top:42px;text-align:right}
.m-pay .m-item .info{width:850px;margin-top:30px}
.m-pay .product .info{background-color:#f9f9f9}
.m-pay .product .info li{width:32%;height:50px;line-height:50px;padding-left:10px;float:left}
.m-pay .payway .info{min-height:108px}
.m-pay .remain .title{padding-top:12px}
.m-pay .remain .info{margin-top:12px}
.m-pay .iptarea .info input{display:block;width:180px;height:35px;line-height:35px;margin-top:10px;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:16px;color:#666;text-indent:10px}
.m-pay .iptarea .info .disabled{border:1px solid transparent;text-indent:0;background-color:transparent}
.m-pay .iptarea .info p{position:absolute;top:45px;height:30px;line-height:30px}
.m-pay .iptarea .info p .income em{color:#f60}
.m-pay .iptarea .info p .error{color:red}
.m-pay .coupon .info .errorctn{display:none;height:30px;line-height:30px}
.m-pay .coupon .info .errorctn .error{color:red}
.m-pay .agreement .info{margin-top:0}
.m-pay .agreement .info a{color:#0a6feb}
.m-pay .order .info{margin-top:0}
.m-pay .order .info .btn{width:280px;height:44px;line-height:44px;font-size:18px;margin:0;padding:0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-transition:all .4s ease;-o-transition:all .4s ease;-webkit-transition:all .4s ease;transition:all .4s ease}
.m-title{-webkit-box-sizing:border-box;box-sizing:border-box;padding:20px 10px;font-size:18px;color:#666;background-color:transparent}
.symbol-model2{position:relative}
.symbol-model2 .symbol{position:relative;top:17px;right:20px;z-index:2;color:#a1a1a1;font-size:14px;overflow:hidden}
.m-help{-webkit-box-sizing:border-box;box-sizing:border-box;padding:40px 30px;background-color:#fff}
.m-help li{color:#666;border-bottom:1px solid #f0f0f0;padding-left:10px}
.m-help li h3{font-size:14px;margin-top:20px;margin-bottom:20px;text-indent:12px}
.m-help li p{padding:20px 25px;background-color:#f9f9f9;margin-bottom:20px;margin-left:12px}
.m-help li p a{color:#0a6feb;text-decoration:underline}
.biz-coupon{position:relative}
.biz-coupon .only-text{border:1px solid #e0e4ed;padding:6px 10px;margin-top:8px;line-height:initial!important}
.pass-link{font-size:12px;line-height:42px;color:#0a6feb} 
