.f-product-cont{position:relative;margin-left:auto;margin-right:auto;width:100%}
.f-product-cont .p-title{position:relative}
.f-product-cont .p-cont{position:relative}
.p-title{background-color:#fff;border-bottom:1px solid #ededed}
.p-title .p-title-inner{padding-left:20px;position:relative;height:50px;line-height:50px;font-size:18px}
.p-title .p-title-inner h2{float:left;padding-right:10px;font-size:18px}
.p-title .p-title-inner .u-tag{position:relative;top:15px;margin-right:10px}
.p-title .p-title-inner .link{float:right;margin-right:20px;font-size:13px}
.p-cont{background-color:#fff}
 
/* product info left */
.d-l{border-right:1px solid #ededed}
.dl-inner{padding:20px 20px 20px 0}
.dl-inner .proinfolist{position:relative;width:770px;padding-bottom:15px;font-size:14px;overflow:hidden}
.dl-inner .proinfolist .item{float:left;position:relative;padding-left:20px;width:30%;height:80px}
.dl-inner .proinfolist .item .line{position:absolute;top:25px;right:0;width:0;height:55px;border-right:1px dashed #ededed;display:none}
.dl-inner .proinfolist .item.p4,.dl-inner .proinfolist .item.p5,.dl-inner .proinfolist .item.p6{padding-top:30px}
.dl-inner .proinfolist .name i{color:#b6b6b6;display:inline-block;vertical-align:middle;position:relative}
.dl-inner .proinfolist .name i:hover{cursor:pointer}
.dl-inner .proinfolist .name b{color:#999;font-weight:400;vertical-align:middle}
.dl-inner .proinfolist .info{padding-top:5px}
.dl-inner .proinfolist .p1 .info strong{font-size:54px!important;font-weight:600;color:#ff884c;background-image:-webkit-gradient(linear,0 0,0 bottom,from(#ff8707),to(rgba(255,23,37,.9)));-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-shadow:3px 3px 10px rgba(245,47,62,0.4);}
.dl-inner .proinfolist .p4 .info,.proinfolist .p5 .info,.proinfolist .p6 .info{padding-top:14px}
.dl-inner .proinfolist .info strong{color:#333;font-size:54px;font-weight:400}
.dl-inner .proinfolist .info strong span{font-size:24px}
.dl-inner .proinfolist .p-line{position:absolute;bottom:0;left:20px;width:756px;height:0;border-bottom:1px solid #ededed;display:block;overflow:hidden}
.dl-more{margin:30px 20px 0}
.dl-more .t-tips{margin-bottom:10px}
.dl-more .t-tips i{margin-right:5px;color:#22ca47}

/* product info right */
.d-r{float:right;width:389px}
.d-r .dr-inner{padding:15px}
.d-r .dr-inner .proinfo{margin-bottom:11px;width:100%}
.d-r .dr-inner .dr-tips{position:relative;padding:6px 0}
.d-r .dr-inner .dr-coupon{position:absolute;top:7px;right:0}
.proinfo td{padding-bottom:16px;height:24px;color:#555;font-size:14px;line-height:24px}
.proinfo td strong{color:#1088f1;font-weight:400;font-size:18px}
.proinfo td font{color:#1088f1}
.proinfo td.d1 font,.proinfo td.d1 span,.proinfo td.d1 strong{vertical-align:middle}
.proinfo td.d4{padding-bottom:0}
.proinfo td .jdt{margin-right:10px;width:235px;height:4px;background:#dde4ea;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;display:inline-block;vertical-align:middle;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;overflow:hidden}
.proinfo td .jdt span{height:4px;vertical-align:middle;background-color:#1088f1;display:block}
.proinfo td b{margin-right:16px;color:#555;font-weight:400}
.dr-tips .msg-box{width:100%;min-height:18px}
.dr-tips .msg-inline{width:325px}
.dr-tips .msg-inline i{position:relative;top:3px;color:red;font-size:14px;float:left;margin-left:-20px}
.dr-tips .underline{border-bottom:1px dashed #1087F1;color:#1088f1;cursor:pointer}
.dr-btnbar .list-dots .current a:hover,.dr-btnbar a,.list-dots .current .dr-btnbar a:hover{width:100%}
.dr-btnbar .btn{height:42px;line-height:42px;font-size:16px;margin:0;padding:0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-transition:all .4s ease;-o-transition:all .4s ease;-webkit-transition:all .4s ease;transition:all .4s ease;background-color:#1088f1;z-index:5}
.dr-inputbar{position:relative}
.dr-inputbar .i-text{position:relative;height:40px;background-color:#fff;border:1px solid rgba(0,0,0,.15);color:#555;display:block;font-size:13px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-transition:all .4s ease;-o-transition:all .4s ease;-webkit-transition:all .4s ease;transition:all .4s ease;-moz-transition:border-color .15s ease-in-out;-o-transition:border-color .15s ease-in-out;-webkit-transition:border-color .15s ease-in-out;transition:border-color .15s ease-in-out;-moz-box-shadow:ease-in-out .15s}
.dr-inputbar.symbol-model .i-text{padding:0 20px;width:315px;border-color:#1088f1;border-width:2px}
.dr-inputbar .coupon-tag{position:absolute;top:9px;right:8px}
.dr-inputbar.dr-inputbar-select .i-select .is-up{width:300px}
.dr-inputbar.dr-inputbar-select .i-select .is-list{width:320px}
.dr-inputbar.dr-inputbar-select .coupon-tag{right:52px}
.err-input {border-color: #e9322d !important;-moz-box-shadow: 0 0 3px #f8b9b7;-webkit-box-shadow: 0 0 3px #f8b9b7;box-shadow: 0 0 3px #f8b9b7}
.symbol-model{position:relative}
.symbol-model .symbol{position:absolute;top:9px;left:2px;z-index:2;color:#a1a1a1;font-size:18px;overflow:hidden}

/* select coupon */
.dr-coupon{position:relative;z-index:8}
.dr-coupon .drc-change{text-align:right;color:#1088f1}
.dr-coupon .drc-change .list-dots .current a:hover,.dr-coupon .drc-change a,.list-dots .current .dr-coupon .drc-change a:hover{color:#1088f1}
.dr-coupon .drc-change .arr{margin-left:3px;width:0;height:0;border:4px solid #1088f1;border-bottom-color:transparent;border-left-color:transparent;border-right-color:transparent;display:inline-block;overflow:hidden;vertical-align:middle}
.dr-coupon .drc-change.checked .arr{border-bottom-color:#1088f1;border-top-color:transparent;vertical-align:2px}
.dr-coupon .drc-main{position:absolute;top:22px;right:0;z-index:8}
.drc-list{position:relative;padding:8px;width:304px;min-height:114px;max-height:290px;background-color:#fff;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;overflow:hidden;overflow-y:scroll;-moz-box-shadow:rgba(0,0,0,.15) 0 1px 10px;-webkit-box-shadow:rgba(0,0,0,.15) 0 1px 10px;box-shadow:rgba(0,0,0,.15) 0 1px 10px}
.drc-list .drc-item{position:relative;margin-bottom:6px;height:54px;background-color:#fff;border:1px solid #ededed;overflow:hidden}
.drc-list .drc-item.current,.drc-list .drc-item:hover{border-color:#ff5150}
.drc-list .drc-item:last-child{margin-bottom:0}
.drc-list .drc-item>a,.drc-list .list-dots .current .drc-item>a:hover,.list-dots .current .drc-list .drc-item>a:hover{color:#555}
.drc-list .drc-item .drcl-img{float:left;margin:13px 0 0 12px}
.drc-list .drc-item .drcl-info{float:left;padding:4px 0 0 23px;line-height:24px}
.drc-list .drc-item .diy-radio{position:absolute;top:17px;right:18px}
.drc-list .drc-null{position:absolute;top:50%;left:0;margin-top:-9px;padding:0 10%;width:80%;height:18px;color:#a1a1a1;font-size:12px;text-align:center}
.symbol-model .coupon-tag{border:1px solid #99a8b0;display:block;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.symbol-model .coupon-tag .ctag-info{float:left;padding:0 5px;height:22px;line-height:22px;background-color:#bfccd4;color:#fff;font-size:12px}
.symbol-model .coupon-tag .ctag-info i{font-style:normal}
.symbol-model .coupon-tag .ctag-close{float:left;width:22px;height:22px;background:#bfccd4 url() no-repeat 0 0;border-left:1px solid #99a8b0;display:block}
.symbol-model .coupon-tag .ctag-close:hover{background-color:#aab9c3;background-position:0 -22px}
.msg-box{position:relative;display:inline-block;vertical-align:middle}
.msg-box .msg-inline{position:relative;padding:11px 8px 11px 24px;line-height:18px;color:#f09e3c;background-color:#fffbe5;border:1px solid #f7dcb1;font-size:12px;display:inline-block;vertical-align:middle}
.msg-box .msg-arr-t{padding:10px;width:100%}
.msg-box .msg-arr-b:after,.msg-box .msg-arr-l:after,.msg-box .msg-arr-r:after,.msg-box .msg-arr-t:after{position:absolute;z-index:1;width:0;height:0;border:5px solid #fffbe5;display:block;content:' '}
.msg-box .msg-arr-b:before,.msg-box .msg-arr-l:before,.msg-box .msg-arr-r:before,.msg-box .msg-arr-t:before{position:absolute;z-index:0;width:0;height:0;border:5px solid #f7dcb1;display:block;content:' '}
.msg-box .msg-arr-t:after{top:-10px;left:10px;border-right-color:transparent;border-top-color:transparent;border-left-color:transparent}
.msg-box .msg-arr-t:before{top:-11px;left:10px;border-right-color:transparent;border-top-color:transparent;border-left-color:transparent}
.icon-err-s{float:left;color:red;margin:3px 5px 0 0}

/* tab-nav */
.p-cont .p-cont-main{padding:30px 40px;color:#555;min-height:950px}
.tab-nav{width:100%;height:60px;font-size:16px;background:#fff;border-bottom:1px solid #e6e6e6;overflow:hidden}
.tab-nav-item{width:140px;float:left;text-align:center;height:60px;line-height:60px;border-top:0;cursor:pointer}
.tab-nav-item-selected{border-top:0}
.tab-nav-item-selected .tab-title{height:58px;color:#1088f1;border-bottom:3px solid #1088f1}
.tab-title{margin:0 auto;width:70px;height:60px;line-height:60px}
.pro-risk h3{font-size:16px;color:#333;font-weight:700}
.pro-risk p{margin-bottom:40px;text-align:justify}
.invest-record-wrap{width:750px}
.invest-rank-wrap{width:300px}
.invest-rank-wrap,.invest-record-wrap{padding:10px 0 20px;border:1px solid #ededed;min-height:610px;background:#fff;position:relative;overflow:hidden}
.invest-rank-wrap h3,.invest-record-wrap h3{line-height:50px;font-size:18px;color:#323232;padding-left:20px;font-weight:500}
.record-box .record-title{background-color:#eef1f8}
.rank-box,.record-box{padding:0 10px}
.rank-box .rank-title,.record-box .record-title{height:40px;line-height:40px;color:#a5a5a5}
.rank-box .left,.rank-box .middle,.rank-box .right,.record-box .left,.record-box .middle,.record-box .right{text-align:left;float:left;color:#5e5e5e}
.rank-box .left{width:42px}
.rank-box .left .first{width:30;height:30px;vertical-align:middle;background:url(../../image/icon_first.png) no-repeat center center;border:none}
.rank-box .left .second{width:30;height:30px;vertical-align:middle;background:url(../../image/icon_second.png) no-repeat center center;border:none}
.rank-box .left .three{width:30;height:30px;vertical-align:middle;background:url(../../image/icon_three.png) no-repeat center center;border:none}
.rank-box .middle{width:110px;margin-right:10px;text-align:center}
.rank-box .right{width:115px}
.record-box .left{width:80px;text-align:left;padding-left:20px}
.record-box .middle{width:160px;text-align:center}
.record-box .right{width:150px;text-align:center}
.rank-list li,.record-list li{height:50px;line-height:50px}
.record-list li{border-bottom:solid 1px #E6EDEF}
.record-list li:nth-child(odd){background-color:#fff}
.record-list li:nth-child(even){background:#f6f8fb}
.record-list li .ico-inline{display:inline-block}
.record-list li .icon-android{width:13px;height:15px;background:url(../../image/ico-android.png) no-repeat;background-size:13px 15px;margin-left:10px;vertical-align:-3px}
.record-list li .icon-android:hover{width:15px;height:17px;background:url(../../image/icon-android.png) no-repeat;background-size:15px 17px}
.record-list li .icon-weixin{width:16px;height:13px;background:url(../../image/ico-weixin.png) no-repeat;background-size:16px 13px;margin-left:10px;vertical-align:-2px}
.record-list li .icon-weixin:hover{background:url(../../image/icon-weixin.png) no-repeat}
.record-list li .icon-apple{width:13px;height:15px;background:url(../../image/ico-apple.png) no-repeat;background-size:13px 15px;margin-left:10px;vertical-align:-2px}
.record-list li .icon-apple:hover{width:14px;height:17px;background:url(../../image/icon-apple.png) no-repeat;background-size:14px 17px}
.record-list li .icon-pc{width:14px;height:12px;background:url(../../image/ico-pc.png) no-repeat;background-size:14px 12px;margin-left:10px;vertical-align:-2px}
.record-list li .icon-pc:hover{width:14px;height:14px;background:url(../../image/icon-pc.png) no-repeat;background-size:14px 14px}
.record-list li .icon-mobile{width:11px;height:14px;background:url(../../image/ico-mobile.png) no-repeat;background-size:11px 14px;margin-left:10px;vertical-align:-2px}
.rank-list li .left{font-size:12px;width:42px;height:50px;line-height:50px;text-align:left}
.rank-list li .left span{display:inline-block;position:relative;width:22px;height:22px;color:#fff;text-align:center;line-height:22px;top:1px;font-style:italic;border-radius:50%;background-color:#bababa;border:2px solid #e7e7e7}

/*投资卷*/.coupon-container{position:relative;display:inline-block;vertical-align:baseline;height:35px;z-index:10}
.coupon-list{position:absolute;width:100%;box-sizing:border-box;border-top:solid 1px #FCD9D7;margin-top:-1px;font-size:14px;color:#797E8C;box-shadow:0 1px 3px 1px #E6EDEF;background:#fff}
.coupon-selected{position:relative;width:210px;height:36px;line-height:36px;border:1px solid #FCD9D7;background:#FFF7F5;color:#F75F52;font-size:14px;cursor:pointer}
.coupon-selected.is-disabled{border:1px solid #D2D9E9;background:#F9FBFF;color:#7884A0;cursor:default}
.coupon-selected>span:nth-child(1){display:block;margin-right:18px;text-align:center}
.coupon-selected .arrow{position:absolute;top:15px;right:10px;width:0;height:0;border:5px solid;border-color:#F75F52 #FFF7F5 #FFF7F5 #FFF7F5}
.coupon-selected.is-expanded .arrow{top:10px;border-color:#FFF7F5 #FFF7F5 #F75F52 #FFF7F5}
.coupon-selected.is-disabled .arrow{border-color:#7884A0 #F9FBFF #F9FBFF #F9FBFF}
.coupon-selected.is-disabled.is-expanded .arrow{top:14px}
.coupon-list.is-expanded{display:block}
.coupon-list .coupon{position:relative;width:100%;height:50px;border-bottom:solid 1px #FCD9D7}
.coupon-list .coupon:nth-last-child(2){border-bottom:none}
.coupon-list .coupon:hover{background:#FFF7F5}
.coupon-list .coupon.checked{background:#FFF7F5}
.coupon-list .coupon .label{display:inline-block;width:100%;height:100%;box-sizing:border-box;padding-left:38px;padding-top:8px;cursor:pointer}
.coupon-list .coupon .name{margin-top:1px;color:#F75F52}
.coupon-list .coupon .time{font-size:10px;line-height:10px;color:#7884A0}
.coupon-tag{position:absolute;display:inline-block;width:16px;height:30px;box-sizing:border-box;padding-top:2px;left:16px;top:11px;font-size:10px;line-height:13px;background:#f25b4e;text-align:center;color:#fff}
.coupon-radio{position:absolute;right:16px;top:40%}
.coupon-radio:after{content:'';position:absolute;left:-2px;top:-2px;width:16px;height:16px;background:url(https://s1.lantouzi.com/img/201612/864214263b46bde847cd3ae5045f3ce2.png) top no-repeat #fff;background-size:100% 100%}
.coupon-list .coupon:hover .coupon-radio:after{background-color:#FFF7F5}
.coupon-radio:checked:after{background:url(https://s1.lantouzi.com/img/201612/cb14cd422ae3cb6cedff2bfafcab8904.png) top no-repeat #FFF7F5;background-size:100% 100%}
.coupon-list .coupon.buyong .name{font-size:14px}
.coupon-list .coupon.buyong .label{padding-top:15px;padding-bottom:15px;padding-left:16px;color:#797E8C}
.coupon.is-disabled{background:#E8E8E8!important}
.coupon.is-disabled .coupon-tag{background:#828282}
.coupon.is-disabled .name,.coupon.is-disabled .time{color:#828282}
