.f-product-cont{position:relative;margin-left:auto;margin-right:auto;width:100%}

.f-product-cont .p-title{position:relative;}
.p-title{background-color:#fff;border-bottom:1px solid #ededed}
.p-title .p-title-inner{padding-left:20px;position:relative;height:50px;line-height:50px;font-size:18px}
.p-title .p-title-inner h2{float:left;padding-right:10px;font-size:18px}
.p-title .p-title-inner .link{float:right;margin-right:20px;font-size:13px}

.f-product-cont .p-cont{position:relative}
.p-cont{background-color: #fff;}

.d-l{border-right:1px solid #ededed}
.d-l .dl-inner{padding:25px 20px}
.d-l .dl-inner .proinfolist{position:relative;width:770px;padding-bottom:15px;font-size:14px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;overflow:hidden}
.d-l .dl-inner .proinfolist .item{float:left;position:relative;padding-top:15px;padding-left:20px;width:30%;height:78px}
.d-l .dl-inner .proinfolist .item .line{position:absolute;top:25px;right:0;width:0;height:55px;border-right:1px dashed #ededed;display:none}
.d-l .dl-inner .proinfolist .name .icon-question-s{margin-left:5px;display:inline-block;vertical-align:middle}
.d-l .dl-inner .proinfolist .name .icon-question-s:hover{cursor:pointer}
.d-l .dl-inner .proinfolist .name b{color:#999;font-weight:400;vertical-align:middle}
.d-l .dl-inner .proinfolist .p4 .info,.proinfolist .p5 .info,.proinfolist .p6 .info{padding-top:14px}
.d-l .dl-inner .proinfolist .info{padding-top:5px}
.d-l .dl-inner .proinfolist .info strong{color:#ed702c;font-size:22px;font-weight:400}
.d-l .dl-inner .proinfolist .info strong span{font-size:14px}
.d-l .dl-inner .proinfolist .p-line{position:absolute;bottom:0;left:20px;width:756px;height:0;border-bottom:1px solid #ededed;display:block;overflow:hidden}

.d-l .dl-more{margin:30px 20px 0}
.d-l .dl-more .t-tips{margin-bottom:10px}



.d-r{float:right;width:362px}
.d-r .dr-inner{padding:25px 20px}
.d-r .dr-inner .prjinfo{margin-bottom:11px;width: 100%;}
.d-r .dr-inner .dr-tips{position:relative;padding:6px 0}
.d-r .dr-inner .dr-coupon{position:absolute;top:7px;right:0}
.prjinfo td{padding-bottom:16px;height:24px;color:#555;font-size:14px;line-height:24px}
.prjinfo td strong{color:#1088f1;font-weight:400;font-size:18px}
.prjinfo td font{color:#1088f1}
.prjinfo td.d1 font,.prjinfo td.d1 span,.prjinfo td.d1 strong{vertical-align:middle}
.prjinfo td.d4{padding-bottom:0}
.prjinfo td .jdt{margin-right:9px;width:206px;height:4px;background: #dde4ea;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;display: inline-block;vertical-align: middle;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;overflow: hidden;}
.prjinfo td .jdt span{height:4px;vertical-align:middle;background-color:#1088f1;display:block}
.prjinfo td b{margin-right:16px;color:#555;font-weight:400}
.dr-tips .msg-box{width:100%;min-height:18px}
.dr-tips .msg-inline{width:288px}
.dr-tips .underline{border-bottom:1px dashed #1088f1;color:#1088f1;cursor:pointer}
.dr-btnbar .list-dots .current a:hover,.dr-btnbar a,.list-dots .current .dr-btnbar a:hover{width:100%}
.dr-btnbar .btn {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #1088f1;
}
.dr-inputbar{position:relative}
.dr-inputbar .i-text{position: relative;height: 40px;background-color: #fff;border: 1px solid rgba(0,0,0,0.15);    color: #555;
    display: block;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: border-color 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
    -moz-box-shadow: ease-in-out 0.15s;}
.dr-inputbar.symbol-model .i-text{padding:0 20px;width:279px;border-color:#1088f1;border-width:2px}
.dr-inputbar .coupon-tag{position:absolute;top:9px;right:8px}
.dr-inputbar.dr-inputbar-select .i-select .is-up{width:300px}
.dr-inputbar.dr-inputbar-select .i-select .is-list{width:320px}
.dr-inputbar.dr-inputbar-select .coupon-tag{right:52px}
.dr-type{margin-left:72px}
.dr-type .dt{float:left;margin:4px 0 0 -72px;width:71px;color:#999;font-size:14px}
.dr-type .dd{width:258px}
.dr-type .dd .item{position:relative;float:left;margin:2px 8px 2px 0}
.dr-type .dd .item a{display:block;padding:3px 0;width:76px;border:1px solid #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#f5f5f5;color:#a8a8a8;text-align:center;font-size:14px}
.dr-type .dd .item a:hover{background-color:#fff;color:#555}
.dr-type .dd .item i{position:absolute;right:0;bottom:0;display:none;overflow:hidden;width:15px;height:15px;background:url() no-repeat}
.dr-type .dd .item.selected{zoom:1}
.dr-type .dd .item.selected a{border-color:#1088f1;background-color:#fff;color:#555}
.dr-type .dd .item.selected i{display:block}
.dr-select-s{position:relative;margin-left:72px}
.dr-select-s .dt{float:left;margin:4px 0 0 -72px;width:71px;color:#999;font-size:14px}
.dr-select-s .dd .i-select .is-up{width:228px;height:27px;line-height:27px}
.dr-select-s .dd .i-select .is-up span{height:25px}
.dr-select-s .dd .i-select .is-up b{margin:-3px 0 0 -4px}
.dr-select-s .dd .i-select .is-list{top:30px;width:248px}
.dr-select-s .dd .i-select .is-list a{height:27px;line-height:27px}


.symbol-model {
    position: relative
}

.symbol-model .symbol {
    position: absolute;
    top: 9px;
    left: 2px;
    z-index: 2;
    color: #a1a1a1;
    font-size: 18px;
    overflow: hidden
}
.dr-coupon {
    position: relative;
    z-index: 8
}

.dr-coupon .drc-change {
    text-align: right;
    color: #1088f1
}

.dr-coupon .drc-change a,.dr-coupon .drc-change .list-dots .current a:hover,.list-dots .current .dr-coupon .drc-change a:hover {
    color: #1088f1
}

.dr-coupon .drc-change .arr {
    margin-left: 3px;
    width: 0;
    height: 0;
    border: 4px solid #1088f1;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.dr-coupon .drc-change.checked .arr {
    border-bottom-color: #1088f1;
    border-top-color: transparent;
    vertical-align: 2px
}

.dr-coupon .drc-main {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 8
}

.drc-list {
    position: relative;
    padding: 8px;
    width: 304px;
    min-height: 114px;
    max-height: 290px;
    background-color: #fff;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    overflow: hidden;
    overflow-y: scroll;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 10px;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 10px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 10px
}

.drc-list .drc-item {
    position: relative;
    margin-bottom: 6px;
    height: 54px;
    background-color: #fff;
    border: 1px solid #ededed;
    *zoom:1;overflow: hidden
}

.drc-list .drc-item:hover,.drc-list .drc-item.current {
    border-color: #ff5150
}

.drc-list .drc-item:last-child {
    margin-bottom: 0
}

.drc-list .drc-item>a,.drc-list .list-dots .current .drc-item>a:hover,.list-dots .current .drc-list .drc-item>a:hover {
    color: #555
}

.drc-list .drc-item .drcl-img {
    float: left;
    margin: 13px 0 0 12px
}

.drc-list .drc-item .drcl-info {
    float: left;
    padding: 4px 0 0 23px;
    line-height: 24px
}

.drc-list .drc-item .diy-radio {
    position: absolute;
    top: 17px;
    right: 18px
}

.drc-list .drc-null {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    padding: 0 10%;
    width: 80%;
    height: 18px;
    color: #a1a1a1;
    font-size: 12px;
    text-align: center
}

.coupon-tag {
    border: 1px solid #99a8b0;
    display: block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.coupon-tag .ctag-info {
    float: left;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    background-color: #bfccd4;
    color: #fff;
    font-size: 12px
}

.coupon-tag .ctag-info i {
    font-style: normal
}

.coupon-tag .ctag-close {
    float: left;
    width: 22px;
    height: 22px;
    background: #bfccd4 url() no-repeat 0 0;
    border-left: 1px solid #99a8b0;
    display: block
}

.coupon-tag .ctag-close:hover {
    background-color: #aab9c3;
    background-position: 0 -22px
}


.tab {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.tab li {
    width: 140px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.slide-bar {
    position: relative;
    width: 100%;
    height: 2px;
    background: #e5f4ff;
}
.bg-blue {
    background: #4cb5ff;
}

.msg-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    *vertical-align: middle
}

.msg-box .msg-inline {
    position: relative;
    padding: 11px 8px 11px 24px;
    line-height: 18px;
    color: #f09e3c;
    background-color: #fffbe5;
    border: 1px solid #f7dcb1;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline
}
