.product-ad{font-size:30px;height:320px;color:#fff}
.product-ad .swiper-container{position:absolute;top:0;left:0;width:800px;height:100%;z-index:10}
.product-ad .swiper-wrapper{display:block;width:800px;height:320px;overflow:hidden}
.product-ad .item-ctn{display:block;width:800px;height:320px;background-position:center top;background-repeat:no-repeat}
.product-ad .features{background-color:#fff;width:360px;height:100%;padding:0 10px}
.product-ad .features:hover{-webkit-box-shadow:0 0 24px #d1d1d1;box-shadow:0 0 24px #d1d1d1}
.product-ad .features>div{padding:20px;border-bottom:1px solid #e6e6e6}
.product-ad .features>div i{background:transparent url(../../image/features.png) center no-repeat;-webkit-background-size:100% 100%;background-size:100%;width:60px;height:60px}
.product-ad .features>div div{width:220px;padding-top:10px;margin-left:20px}
.product-ad .features>div div h1{font-size:18px;color:#1088f1}
.product-ad .features>div div p{font-size:14px;color:#999}
.product-ad .features .strength i{background-position:0 0}
.product-ad .features .safe i{background-position:0 -60px}
.product-ad .features .creative{border-bottom:0 solid #e6e6e6}
.product-ad .features .creative i{background-position:0 -120px}

/* 产品状态 */
.product-box:hover{-webkit-box-shadow:0 0 24px #d1d1d1;box-shadow:0 0 24px #d1d1d1}
.product-box .pro-type{background-color:#fff;padding-left:20px;border-bottom:1px solid #e5ebf0;height:60px;line-height:60px;font-size:18px;color:#46525e}
.product-box .pro-type span{margin-right:70px;display:inline-block;height:100%;cursor:pointer}
.product-box .pro-type span:hover{color:#1088f1}
.product-box .pro-type span.active{color:#1088f1;position:relative}
.product-box .pro-type span.active::before{content:'';position:absolute;left:50%;bottom:2px;margin-left:-5px;width:0;height:0;border-width:0 6px 5px 6px;border-style:solid;border-color:transparent transparent #1088f1 transparent}
.product-box .pro-type span.active::after{content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#1088f1}

/* 产品属性  */
.pro-tit{padding:0 20px 0;background-color:#fff;height:60px;color:#1b2b46;line-height:60px;text-align:center;position:relative;overflow:hidden;border-bottom:1px solid #e5ebf0}
.pro-tit div{font-size:14px}
.pro-tit dd.borrow-apr,.pro-tit dd.borrow-name{text-align:left}
.pro-tit .rank-default{position:relative;padding-right:8px;display:inline-block;vertical-align:middle;color:#999}
.pro-tit .rank-default b{position:absolute;top:-8px}
.pro-tit .rank-default i{position:absolute;bottom:-7px}
.pro-tit .rank-default.down b{color:#1088f1;}
.pro-tit .rank-default.up i{color:#1088f1;}
.pro-tit .col-lg-3-5,.product-list .col-lg-3-5{width:14.58%}

/* 产品列表 */
.product-list{min-height:191px}
.product-list li{padding:26px 20px 24px;background-color:#fff;height:60px;font-size:14px;border-bottom:1px solid #f5f5f5;position:relative;overflow:hidden}
.product-list li .link-detail{position:absolute;height:100%;width:100%;top:0;left:0;z-index:9}
.product-list li:hover{z-index:1;-webkit-box-shadow:0 0 24px #e5e5e5;box-shadow:0 0 24px #e5e5e5}
.product-list li:hover .oper .buy.btn-primary{color:#fff;background-color:#1ca2ff;box-shadow: 0 2px 10px #1ca2ff;}
.product-list li:hover .oper .buy.btn-default.disabled{border-color:#abb2b8;color:#fff;border:none;background-color:#dedede;opacity:1}
.product-list li .ver-align{vertical-align:middle}
.product-list li dd{text-align:center;font-size:12px}
.product-list li dd .tit{color:#46525e;line-height:1;height:34px;line-height:34px}
.product-list li dd .tit em{font-family:Arial;font-size:28px}
.product-list li dd .tit span{font-size:18px}
.product-list li dd .tit a{color:#46525e;vertical-align:middle}
.product-list li dd .tit a:hover{color:#4567cc}
.product-list li dd .dec{margin-top:4px;color:#999}
.product-list li dd .note{overflow:hidden;width:100%;height:34px;display:table}
.product-list li dd .note .mid{display:table-cell;vertical-align:middle;font-size:14px;line-height:1.4}
.product-list li .process-bar{display:inline-block;width:64px;height:5px;overflow:hidden;background-color:#e8e7e0;line-height:0;font-size:0;text-align:left}
.product-list li .process-bar img{height:5px;width:0}
.product-list li dd.name{margin:0;font-size:16px;text-align:left;color:#46525e}
.product-list li dd.name .dec{margin:0;line-height:1}
.product-list li dd.rate{text-align:left}
.product-list li dd.rate .tit{color:#ff884c;background-image:-webkit-gradient(linear,0 0,0 bottom,from(#ff8707),to(rgba(255,23,37,.9)));-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-shadow:3px 6px 15px rgba(245,47,62,.4)}
.product-list li dd.rate .tit span{font-size:35px}
.product-list li dd.day .tit{color:#46525e}
.product-list li dd.money .tit{font-size:18px}
.product-list li dd.process .tit{color:#46525e;line-height:1}
.product-list li dd.process .tit span{font-size:14px}
.product-list li dd.oper{padding:0}
.product-list li dd.oper .buy{width:98px;height:36px;line-height:36px;font-size:16px;color:#333;background-color:transparent;border-color:transparent;-webkit-border-radius:2px;border-radius:2px;margin-top:6px}
.product-list li dd.oper .buy.btn-primary:hover{color:#fff;background-color:#4ab5ff;border-color:#1ca2ff}
.product-list li dd.oper .timer{min-height:8px;font-family:sans-serif}
.product-list li dd.oper .timer .product-timer i{color:#fff;background:#f60;-webkit-border-radius:3px;border-radius:3px;padding:1px 2px;margin:0 2px}
.product-list li dd.oper .timer .product-timer:after{content:'';background:0 0;color:#f60}
.product-list li .product-time{position:relative;display:block;margin-top:-10px;color:#f60}
.product-list .err-tip{color:red;text-align:center;padding:50px 0;}