<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section my-main">
            <div class="my-main-frame">
				<%= require('html-loader!../layout/my-left-layout.html')%>
				<div class="my-main-c ml20 w950">
					<div class="my-box-wrap f-cb bg-fff">
						<div class="my-box-title f-cb">
							<span>我的卡券</span>
						</div>

						<!-- 投资记录模块 S -->
                        <div class="searchBox mt20">
							<!-- 搜索筛选模块 S -->
							<div class="record-search-cate mb10">
								<div class="quick-link-type f-fl">
									<div class="list-dots" id="flow_type">
										<span class="current"><a data-id="1">现金券</a></span>
										<span><a data-id="2">加息券</a></span>
									</div>
								</div>
							</div>
							<!-- 搜索筛选模块 E -->
						</div>
						
						<div class="coupon-records mt20 mb50">
							<div class="my-tab coupon-tab mt20">
								<ul class="tab-nav">
									<li class="active">可使用</li>
									<li>已使用</li>
									<li>已过期</li>
								</ul>
							</div>
							<div class="resultBox my-tab-box pb20">
								<div class="grid-1 f-hide" style="display: block;">
									<div class="coupon-items">
										<ul class="items title">
											<li class="col_1">卡券金额</li>
											<li class="col_2">使用条件</li>
											<li class="col_3">过期时间</li>
											<li class="col_4">卡券来源</li>
											<li class="col_5">适用产品</li>
										</ul>
									</div>
									<div id="grid-1">
										<div class="coupon-items"></div>
										<div class="page pagination mt15"></div>
									</div>
								</div>
								<div class="grid-2 f-hide">
									<div class="coupon-items">
										<ul class="items title">
											<li class="col_1">加息额度</li>
											<li class="col_2">使用条件</li>
											<li class="col_3">过期时间</li>
											<li class="col_4">卡券来源</li>
											<li class="col_5">适用产品</li>
										</ul>
									</div>
									<div id="grid-2">
										<div class="coupon-items"></div>
										<div class="page pagination mt15"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>