<!doctype html>
<html lang="zh-cn">

<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
    <%= require('html-loader!../layout/head-common.html')%>
</head>

<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section my-main">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <div class="sr-cont">
                        <div class="sr-cont-inner">
                            <div class="ci-title">
                                <!--普通的title条 S-->
                                <div class="ci-title-inner">
                                    <h2>账户安全</h2>
                                    <!--标题放这里-->
                                    <b class="line"></b>
                                </div>
                                <!--普通的title条 E-->
                            </div>
                            <div class="set-safe-info">
                                <ul>
                                    <li>
                                        <div class="safe-levelBox">
                                            <span class="set-safe-title f-fl fz18">安全等级</span>
                                            <div class="safe-level medium-level">
                                                <div class="safe-fraction"><strong class="vam">0</strong><span class="vam">分</span></div>
                                                <div class="safe-level-bar">
                                                    <div class="progress-level">
                                                        <div class="progress-level-in" data-score=""><i class="icon-safeLevel"></i></div>
                                                    </div>
                                                </div>
                                                <div class="safe-level-tips">存在<span>2</span>项风险 <span>1</span>项可升级</div>
                                            </div>
                                        </div>
                                        <p class="set-safeTxt lastloginfo no-paddingL">上次登录：<span id="lastlogtime"></span></p>
                                    </li>
                                    <li>
                                        <p>
                                            <span class="set-safe-title"><i class="icon-set-approve"></i>实名认证</span>
                                            <span class="set-noApprove authen-tip"><i class="fa fa-exclamation-circle"></i> 未认证</span>
                                        </p>
                                        <p class="set-safeTxt">上传身份证照片完成高级认证，可享众安保险无限额极速理赔服务</p>
                                        <div class="btn-setSafeBox">
                                            <a href="javascript:;" class="btn-setSafe btn-authen">更换银行卡</a>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            <span class="set-safe-title"><i class="icon-set-phone"></i>手机号码  <span id="user-phone">****</span></span>
                                        </p>
                                        <p class="set-safeTxt">资金变动及敏感操作短信通知</p>
                                        <div class="btn-setSafeBox">
                                            <a href="javascript:;" class="btn-setSafe set-phont">更换</a>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            <span class="set-safe-title"><i class="icon-set-loginPsw"></i>登录密码</span>
                                        </p>
                                        <p class="set-safeTxt">用于保护帐号信息和登录安全，建议每6个月更换1次</p>
                                        <div class="btn-setSafeBox">
                                            <a href="javascript:;" data-href="/my/reset-logpwd.html" data-needlogin="true" class="btn-setSafe">修改</a>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            <span class="set-safe-title"><i class="icon-set-psw"></i>交易密码</span>
                                            <span class="set-noApprove tradpwd-tip"><i class="fa fa-exclamation-circle"></i> 未设置</span>
                                        </p>
                                        <p class="set-safeTxt">账户资金变动和修改账户信息时，需先校验交易密码</p>
                                        <div class="btn-setSafeBox hasPswd f-hide">
                                            <a href="javascript:;" data-href="/my/reset-tradepwd.html" data-needlogin="true" class="btn-setSafe">修改</a>
                                            <a href="javascript:;" data-href="/my/find-tradepwd.html" data-needlogin="true" class="btn-setSafe">找回</a>
                                        </div>
                                        <div class="btn-setSafeBox noPswd f-hide">
                                            <a href="javascript:;" data-href="/my/reset-tradepwd.html" data-needlogin="true" class="btn-setSafe">设置</a>
                                        </div>
                                    </li>
                                    <li class="last">
                                        <p>
                                            <span class="set-safe-title"><i class="icon-set-address"></i>收货地址</span>
                                            <span class="set-noApprove address-tip"><i class="fa fa-exclamation-circle"></i> 未设置</span>
                                        </p>
                                        <p class="set-safeTxt">适合购买较低、低、基本无风险级别产品</p>
                                        <div class="btn-setSafeBox">
                                            <a href="javascript:;" class="btn-setSafe set-address">设置</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- 账户安全模块 E -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>

</html>