<!-- https://www.chenghuitong.net/member/main-index.html  tooltips -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section my-main">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <!-- 基础信息 -->
                    <div class="my-userinfo-wrap">
                        <div class="my-userinfo">
                            <div class="my-stuffs f-fr">
                                <div class="stu-in">
                                    <div class="stu-title">可用余额(元)</div>
                                    <div class="stu-point" data-target="#available_detail" data-toggle-visible="0">***</div>
                                    <div class="stu-btnarea mt15">
                                        <a href="" target="_blank" class="btn btn-primary" title="充值">充值</a>
                                        <a href="" class="btn btn-line" title="提现">提现</a>
                                    </div>
                                    <div class="stu-tool"><a href="javascript:void(0);" class="eye close" id="hidden_toggle">开启</a></div>
                                </div>
                            </div>
                            <div class="my-baseinfo">
                                <div class="my-avatar f-fl mr25">
                                    <img src="https://oivqpsaoi.qnssl.com/avator/2017/07/21/5c87a874fd1a41a2ac39b8e636aaf0fc.png" alt="个人头像">
                                </div>
                                <div class="my-info">
                                    <span class="my-phone">138******41</span>
                                </div>
                                <div class="my-prestige">
                                    <a href="" class="sp-img my-name tip" data-title="完成高级认证">
                                        <b></b>
                                    </a>
                                    <a href="" class="sp-img my-phone" data-title="修改绑定手机"><b></b></a>
                                    <a href="" class="sp-img my-addr" data-title="设置电子邮箱"><b></b></a>
                                    <a href="" class="sp-img my-tpsw" data-title="设置交易密码"><b></b></a>
                                </div>
                                <ul class="my-coupon">
                                    <li>
                                        <p>可用加息券(张)</p>
                                        <h4><a href="">1</a></h4>
                                    </li>
                                    <li class="last-item">
                                        <p>可用现金券(张)</p>
                                        <h4><a href="">1</a></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="s-suggest mt20">
                                <!-- <span class="color-orange-text">为了您的资金安全，请开通<a href="./custody.html" class="color-blue-text">资金存管账户</a></span> -->
                                <span class="color-orange-text">您尚未实名，<a class="color-blue-text" href="https://www.xiaoying.com/my/verify">立即实名</a>体验投资</span>
                            </div>
                        </div>
                    </div>

                    <!-- 资产信息 -->
                    <div class="my-box-wrap mt15 pd15">
                        <div class="my-box-title f-cb">
                            <span>我的资产</span>
                        </div>
                        <div class="my-box-wrap">
                            <div class="my-box-interest f-cb">
                                <dl class="yes-interest">
                                    <dt>
                                        <span class="acc_type">昨日收益
                                            <i class="fa fa-info-circle color-darkgray-text"></i>
                                        </span>
                                    </dt>
                                    <dd>
                                        <span class="money-num color-blue-text">
                                            <strong>723</strong>. <i>00</i>
                                        </span>
                                    </dd>
                                </dl>
                                <dl class="wait-interest">
                                    <dt>
                                        <span class="acc_type">待收收益
                                            <i class="fa fa-info-circle color-darkgray-text"></i>
                                        </span>
                                    </dt>
                                    <dd>
                                        <span class="money-num">
                                            <strong>927,533</strong>. <i>26</i>
                                        </span>
                                    </dd>
                                </dl>
                                <dl class="total-interest">
                                    <dt>
                                        <span class="acc_type">累计收益
                                            <i class="fa fa-info-circle color-darkgray-text"></i>
                                        </span>
                                    </dt>
                                    <dd>
                                        <span class="money-num">
                                            <strong>1,237,513</strong>. <i>16</i>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="my-box-capital f-cb">
                                <ul class="capital-con f-cb">
                                    <li class="capital-account">
                                        <span class="capital-type">总资产</span>
                                        <span class="capital-num"><strong>0.00</strong></span>
                                    </li>
                                    <li class="capital-sym">
                                        <span>=</span>
                                    </li>
                                    <li class="capital-account acc-type current" data-type="1">
                                        <span class="capital-type">活期在投金额</span>
                                        <span class="capital-num"><strong>0.00</strong></span>
                                    </li>
                                    <li class="capital-sym">
                                        <span>+</span>
                                    </li>
                                    <li class="capital-account acc-type" data-type="2">
                                        <span class="capital-type">定期在投金额</span>
                                        <span><strong>0.00</strong></span>
                                    </li>
                                    <li class="capital-sym">
                                        <span>+</span>
                                    </li>
                                    <li class="capital-account">
                                        <span class="capital-type">账户余额</span>
                                        <span><strong>0.00</strong></span>
                                    </li>
                                </ul>
                                <div class="capital-container1 invest-con">
                                    <dl class="f-cb">
                                        <dd class="my-protype-map f-fl">
                                            <div>活期在投产品</div>
                                        </dd>
                                        <dd class="my-protype-money f-fl">
                                            <ul class="f-cb">
                                                <li>
                                                    <span class="dot"></span>
                                                    <span class="my-protype-money-name">天天赚</span>
                                                    <span class="my-protype-money-value">25410.00</span>
                                                </li>
                                                <li>
                                                    <span class="dot icon-1-dixian"></span>
                                                    <span class="my-protype-money-name">11赢</span>
                                                    <span class="my-protype-money-value">12500.00</span>
                                                </li>
                                                <li>
                                                    <span class="dot icon-1-lixi"></span>
                                                    <span class="my-protype-money-name">双12天天赚</span>
                                                    <span class="my-protype-money-value">54000.00</span>
                                                </li>
                                                <li>
                                                    <span class="dot icon-1-shouyi"></span>
                                                    <span class="my-protype-money-name">周年天天赚</span>
                                                    <span class="my-protype-money-value">970.00</span>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="capital-container2 invest-con f-cb f-hide">
                                    <dl class="f-cb">
                                        <dd class="my-protype-map f-fl">
                                            <div>定期在投产品</div>
                                        </dd>
                                        <dd class="my-protype-money f-fl">
                                            <ul class="f-cb">
                                                <li>
                                                    <span class="dot"></span>
                                                    <span class="my-protype-money-name">天天赚</span>
                                                    <span class="my-protype-money-value">25410.00</span>
                                                </li>
                                                <li>
                                                    <span class="dot icon-1-dixian"></span>
                                                    <span class="my-protype-money-name">11赢</span>
                                                    <span class="my-protype-money-value">12500.00</span>
                                                </li>
                                                <li>
                                                    <span class="dot icon-1-lixi"></span>
                                                    <span class="my-protype-money-name">双12天天赚</span>
                                                    <span class="my-protype-money-value">54000.00</span>
                                                </li>
                                                <li>
                                                    <span class="dot icon-1-shouyi"></span>
                                                    <span class="my-protype-money-name">周年天天赚</span>
                                                    <span class="my-protype-money-value">970.00</span>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 回款日历 -->
                    <div class="my-refund-wrap current-month mt15 f-cb">
                        <div class="current-date">2017年06月</div>
                        <div class="returned-money">回款总额：<span class="totalPayment">0.00</span>元</div>
                        <div>待收回款：<span class="withoutPayment">0.00</span>元</div>
                        <div>已收回款：<span class="paidPayment">0.00</span>元</div>
                    </div>
                    <div class="my-calendar-wrap mt15">
                        <div class="my-box-title f-cb">
                            <span>我的资产</span>
                        </div>
                        <div>
                            <div class="mt15 f-fl w570">
                                <div class="calendar-content">
                                    <div class="calendar-head">
                                        <div class="controller-year">
                                            <button class="pre-year">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                            <span class="select-year">2017</span>
                                            <button class="next-year">
                                                <i class="fa fa-angle-right"></i>
                                            </button>
                                        </div>
                                        <div class="arrived-today">返回今天</div>
                                        <div class="controller-month">
                                            <span class="select-month">8</span>
                                            <span class="sel-1">月</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="month-list sel-check">
                                                <li data-val="1">1</li>
                                                <li data-val="2">2</li>
                                                <li data-val="3">3</li>
                                                <li data-val="4">4</li>
                                                <li data-val="5">5</li>
                                                <li data-val="6">6</li>
                                                <li data-val="7">7</li>
                                                <li data-val="8">8</li>
                                                <li data-val="9">9</li>
                                                <li data-val="10">10</li>
                                                <li data-val="11">11</li>
                                                <li data-val="12">12</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="calendar-container">
                                        <div class="cc-calendar-container">
                                            <div class="xk-calendar false" data-date="2017年8月">
                                                <ul class="xk-calendar-week">
                                                    <li class="xk-bd-first weekend"><div class="day-wrap">周日</div></li>
                                                    <li><div class="day-wrap">周一</div></li>
                                                    <li><div class="day-wrap">周二</div></li>
                                                    <li><div class="day-wrap">周三</div></li>
                                                    <li><div class="day-wrap">周四</div></li>
                                                    <li><div class="day-wrap">周五</div></li>
                                                    <li class="weekend"><div class="day-wrap">周六</div>
                                                    </li>
                                                </ul>
                                                <div class="xk-calendar-data-container">
                                                    <ul class="xk-calendar-date-column">
                                                        <li data-value="2017-7-30" class="xk-bd-first prev-month"><div class="day-wrap"><div class="day-w-in"><span>30</span></div></div></li>
                                                        <li data-value="2017-7-31" class="prev-month"><div class="day-wrap"><div class="day-w-in"><span>31</span></div></div></li>
                                                        <li data-value="2017-8-1" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>1</span></div></div></li>
                                                        <li data-value="2017-8-2" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>2</span></div></div></li>
                                                        <li data-value="2017-8-3" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>3</span></div></div></li>
                                                        <li data-value="2017-8-4" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>4</span></div></div></li>
                                                        <li data-value="2017-8-5" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>5</span></div></div></li>
                                                    </ul>
                                                    <ul class="xk-calendar-date-column">
                                                        <li data-value="2017-8-6" class="xk-bd-first current-day current-month"><div class="day-wrap"><div class="day-w-in"><span>6</span></div></div></li>
                                                        <li data-value="2017-8-7" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>7</span></div></div></li>
                                                        <li data-value="2017-8-8" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>8</span></div></div></li>
                                                        <li data-value="2017-8-9" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>9</span></div></div></li>
                                                        <li data-value="2017-8-10" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>10</span></div></div></li>
                                                        <li data-value="2017-8-11" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>11</span></div></div></li>
                                                        <li data-value="2017-8-12" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>12</span></div></div></li>
                                                    </ul>
                                                    <ul class="xk-calendar-date-column">
                                                        <li data-value="2017-8-13" class="xk-bd-first current-month"><div class="day-wrap"><div class="day-w-in"><span>13</span></div></div></li>
                                                        <li data-value="2017-8-14" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>14</span></div></div></li>
                                                        <li data-value="2017-8-15" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>15</span></div></div></li>
                                                        <li data-value="2017-8-16" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>16</span></div></div></li>
                                                        <li data-value="2017-8-17" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>17</span></div></div></li>
                                                        <li data-value="2017-8-18" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>18</span></div></div></li>
                                                        <li data-value="2017-8-19" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>19</span></div></div></li>
                                                    </ul>
                                                    <ul class="xk-calendar-date-column">
                                                        <li data-value="2017-8-20" class="xk-bd-first current-month"><div class="day-wrap"><div class="day-w-in"><span>20</span></div></div></li>
                                                        <li data-value="2017-8-21" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>21</span></div></div></li>
                                                        <li data-value="2017-8-22" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>22</span></div></div></li>
                                                        <li data-value="2017-8-23" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>23</span></div></div></li>
                                                        <li data-value="2017-8-24" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>24</span></div></div></li>
                                                        <li data-value="2017-8-25" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>25</span></div></div></li>
                                                        <li data-value="2017-8-26" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>26</span></div></div></li>
                                                    </ul>
                                                    <ul class="xk-calendar-date-column">
                                                        <li data-value="2017-8-27" class="xk-bd-first current-month"><div class="day-wrap"><div class="day-w-in"><span>27</span></div></div></li>
                                                        <li data-value="2017-8-28" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>28</span></div></div></li>
                                                        <li data-value="2017-8-29" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>29</span></div></div></li>
                                                        <li data-value="2017-8-30" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>30</span></div></div></li>
                                                        <li data-value="2017-8-31" class="current-month"><div class="day-wrap"><div class="day-w-in"><span>31</span></div></div></li>
                                                        <li data-value="2017-9-1" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>1</span></div></div></li>
                                                        <li data-value="2017-9-2" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>2</span></div></div></li>
                                                    </ul>
                                                    <ul class="xk-calendar-date-column">
                                                        <li data-value="2017-9-3" class="xk-bd-first next-month"><div class="day-wrap"><div class="day-w-in"><span>3</span></div></div></li>
                                                        <li data-value="2017-9-4" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>4</span></div></div></li>
                                                        <li data-value="2017-9-5" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>5</span></div></div></li>
                                                        <li data-value="2017-9-6" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>6</span></div></div></li>
                                                        <li data-value="2017-9-7" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>7</span></div></div></li>
                                                        <li data-value="2017-9-8" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>8</span></div></div></li>
                                                        <li data-value="2017-9-9" class="next-month"><div class="day-wrap"><div class="day-w-in"><span>9</span></div></div></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>