<!-- https://www.itouzi.com/user/invite 参考样式 -->

<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section my-main">
            <div class="my-main-frame">
            <%= require('html-loader!../layout/my-left-layout.html')%>
            <div class="my-main-c ml20 w950">
                <div class="my-box-wrap f-cb bg-fff">
                    <div class="my-box-title f-cb">
                        <span>邀请方式</span>
                        <a class="text f-fr" href="javascript:;" data-href="https://a.fangjinnet.com:10080/html/201706invite/invite-friends.html" target="_blank">查看最新规则</a>
                    </div>
                    <div class="my_invite bdsharebuttonbox">
                        <p class="iShare-d f-cb" id="shareBox">
                            <a href="javascript:;" class="wxShare" data-cmd="weixin" title="分享到微信"><span>微信</span></a>
                            <a href="#" class="iShare-sinaweibo" data-cmd="tsina" title="分享到新浪微博"><span>新浪微博</span></a>
                            <a href="#" class="iShare-qqkongjian" data-cmd="qzone" title="分享到QQ空间"><span>QQ空间</span></a>
                            <a href="#" class="iShare-qqhaoyou" data-cmd="sqq" title="分享到QQ好友"><span>QQ好友</span></a>
                            <a href="#" class="copy-link mrn generalize" id="generalize"><span>复制链接</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>

<!-- https://www.hudai.com/user/invite.html -->