<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section my-main">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <div class="my-box-wrap pd15">
                        <div class="my-box-title f-cb">
                            <span>我的银行卡</span>
                        </div>
                        <ul class="adds-bankcard mt30">
                            <li>
                                <a class="bankcard">
                                    <span class="num">**** **** **** ****</span>
                                    <span class="name">持卡人：***</span>
                                    <i class="banklogo-zgjsyh"></i>
                                    <span class="tel">客服电话：*****</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h2 class="m-title">
                        绑卡常见问题
                    </h2>
                    <div class="my-box-wrap">
                        <dl class="m-help">
                            <dt>1. 我可以绑定哪些银行的银行卡？</dt>
                            <dd>
                                <p>可以绑定工商银行、农业银行、中国银行、建设银行、交通银行、邮储银行、招商银行、兴业银行、光大银行、浦发银行、平安银行、中信银行、民生银行的银行卡。</p>
                            </dd>
                            <dt>2. 每个账号可绑定几张银行卡？</dt>
                            <dd>
                                <p>目前房金网仅支持绑定1张银行卡（不支持绑定信用卡）。</p>
                                <p>该卡同时适用于房金网APP，已绑定的银行卡可以更换，不支持解绑；如需更换，请联系客服。</p>
                            </dd>
                            <dt>3. 是否可以在多个账号下绑定同一张银行卡？</dt>
                            <dd>
                                <p>不可以。平台的账号与用户实名信息、银行卡为一一对应关系。为了资金安全，平台需要实名认证，认证信息只能关联到一个账号下，银行卡也只能绑定在自己实名认证的账号下。</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>