<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <!-- 可用余额等信息 S -->
                    <div class="my-box-wrap">
                        <div class="my-box-title f-cb">
                            <span>充值提现</span>
                        </div>
                        <div class="stats-items">
                            <dl class="stats-item">
                                <dt><b>账户余额(元)：</b></dt>
                                <dd>
                                    <strong>￥0</strong>
                                </dd>
                            </dl>
                            <dl class="stats-item">
                                <dt><b>本月充值(元)：</b></dt>
                                <dd>
                                    <strong>￥0</strong>
                                </dd>
                            </dl>
                            <dl class="stats-item">
                                <dt><b>本月提现(元)：</b></dt>
                                <dd>
                                    <strong>￥0</strong>
                                </dd>
                            </dl>
                            <div class="clear"></div>
        
                            <!-- 充值提现 S -->
                            <div class="my-current-tool">
                                <div class="stu-btnarea mt15">
                                    <a href="" target="_blank" class="btn btn-primary" title="充值">充值</a>
                                    <a href="" class="btn btn-line" title="提现">提现</a>
                                </div>
                            </div>
                            <!-- 充值提现 E -->
                        </div>
                    </div>
                    
                    <div class="my-box-wrap f-cb bg-fff">
                        <!-- 搜索时间模块 S -->
                        <div class="record-search-date mt20">
                            <div class="rsd-time-title f-fl">起止日期：</div>
                            <div class="rsd-time-cont f-fl">
                                <div class="quick-input-date f-fl">
                                    <input type="text" id="start_time" class="date-search-input" value="" onfocus="startTimeChange()" readonly="">
                                    <span class="separator-pd">-</span>
                                    <input type="text" id="end_time" class="date-search-input" value="" onfocus="endTimeChange()" readonly="">
                                    <!-- 报错提示，默认隐藏 S-->
                                    <p id="time_error_tip" class="tiptext mt10" style="display: none;">
                                        <i class="icon icon-warn-s"></i>
                                        <span>开始日期不能晚于结束日期，请重新选择。</span>
                                    </p>
                                    <!-- 报错提示，默认隐藏 E-->
                                </div>
                                <div class="quick-link-date f-fl">
                                    <div class="list-dots" id="period_type">
                                        <span><a href="javascript:void(0);" data-id="ALL">全部</a></span>
                                        <span><a href="javascript:void(0);" data-id="1">今天</a></span>
                                        <span class="current"><a href="javascript:void(0);" data-id="30">最近1个月</a></span>
                                        <span><a href="javascript:void(0);" data-id="90">3个月</a></span>
                                        <span><a href="javascript:void(0);" data-id="365">一年</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- 搜索时间模块 E -->
                        <style>
                            .tab{width:300px}
                            .tab .tab-nav{height:300px}
                            .tab .tab-nav li{float:left;margin-right:5px;background-color:#767676;border-radius:3px 3px 0 0}
                            .tab .tab-nav li a{display:block;height:30px;padding:0 20px;color:#fff;line-height:30px;text-decoration:none}
                            .tab .tab-nav li.active{background-color:#fff}
                            .tab .tab-nav li.active a{color:#777}

                            .tab .content-wrap{background-color:#fff;padding:5px;height:200px}
                            .tab .content-wrap .content-item{position:absolute;height:200px;display:none}
                            .tab .content-wrap .current{display:block}

                        </style>
                        <div class="js-tab tab" data-cfg='{
                            "triggerType": "click",
                            "effect": "fade",
                            "invoke": 1,
                            "auto": 3000
                        }'>
                            <ul class="tab-nav">
                                <li class="active"><a href='javascipt:;'>新闻</a></li>
                                <li><a href='javascipt:;'>娱乐</a></li>
                                <li><a href='javascipt:;'>电影</a></li>
                                <li><a href='javascipt:;'>科技</a></li>
                            </ul>
                            <div class="content-wrap">
                                <div class="content-item current"><img src=<%=require('../../image/qrcode.jpg')%>></div>
                                <div class="content-item"></div>
                                <div class="content-item"></div>
                                <div class="content-item"></div>
                            </div>
                        </div>

                    </div>
                    <!-- 可用余额等信息 E -->
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>