<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <!-- 可用余额等信息 S -->
                    <div class="my-box-wrap">
                        <div class="my-box-title f-cb">
                            <span>充值提现</span>
                        </div>
                        <div class="stats-items">
                            <dl class="stats-item">
                                <dt><b>账户余额：</b></dt>
                                <dd>
                                    <strong id="balance">￥0</strong>
                                </dd>
                            </dl>
                            <dl class="stats-item">
                                <dt><b>本月充值：</b></dt>
                                <dd>
                                    <strong id="recharge">￥0</strong>
                                </dd>
                            </dl>
                            <dl class="stats-item">
                                <dt><b>本月提现：</b></dt>
                                <dd>
                                    <strong id="cash">￥0</strong>
                                </dd>
                            </dl>
                            <div class="clear"></div>
        
                            <!-- 充值提现 S -->
                            <div class="my-current-tool">
                                <div class="stu-btnarea mt15">
                                    <a href="javascript:;" class="btn btn-info j-recharge" title="充值">充值</a>
                                    <a href="javascript:;" class="btn btn-normal j-drawal" title="提现">提现</a>
                                </div>
                            </div>
                            <!-- 充值提现 E -->
                        </div>
                    </div>
                    
                    <div class="my-box-wrap mt20 f-cb bg-fff">
                        <div class="my-box-title f-cb">
                            <span>交易记录</span>
                        </div>

                        <!-- 投资记录模块 S -->
                        <div class="searchBox">
                            <!-- 搜索时间模块 S -->
                            <div class="record-search-date">
                                <div class="search-type-title f-fl">起止日期</div>
                                <div class="search-type-cont f-fl">
                                    <div class="quick-input-date f-fl">
                                        <input type="text" id="start_time" class="date-search-input" value="" readonly="">
                                        <span class="separator-pd">-</span>
                                        <input type="text" id="end_time" class="date-search-input" value="" readonly="">
                                        <!-- 报错提示，默认隐藏 S-->
                                        <p id="time_error_tip" class="tiptext mt10 f-hide">
                                            <i class="icon fa fa-exclamation-circle"></i>
                                            <span>开始日期不能晚于结束日期，请重新选择。</span>
                                        </p>
                                        <!-- 报错提示，默认隐藏 E-->
                                    </div>
                                    <div class="quick-link-date f-fl">
                                        <div class="list-dots" id="period_type">
                                            <span><a href="javascript:;" data-id="ALL">全部</a></span>
                                            <span><a href="javascript:;" data-id="1">今天</a></span>
                                            <span class="current"><a href="javascript:;" data-id="30">最近1个月</a></span>
                                            <span><a href="javascript:;" data-id="90">3个月</a></span>
                                            <span><a href="javascript:;" data-id="365">一年</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="f-cb"></div>
                            </div>
                            <!-- 搜索时间模块 E -->
            
                            <!-- 搜索筛选模块 S -->
                            <div class="record-search-cate mb10">
                                <div class="search-type-title f-fl">交易类型</div>
                                <div class="quick-link-type f-fl">
                                    <div class="list-dots" id="flow_type">
                                        <span class="current"><a href="javascript:void(0);" data-id="">全部</a></span>
                                        <span><a href="javascript:void(0);" data-id="R">充值</a></span>
                                        <span><a href="javascript:void(0);" data-id="W">提现</a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- 搜索筛选模块 E -->
                        </div>
        
                        <div class="resultBox" id="contentList">
                            <div class="listContainer">
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <th width="50">序号</th>
                                            <th width="150">交易类型</th>
                                            <th width="134" style="font-family:Microsoft YaHei">交易金额(¥)</th>
                                            <th width="120">交易时间</th>
                                            <th width="90">处理状态</th>
                                        </tr>
                                    </thead>
                                    <tbody class="listContainer-tbody"></tbody>
                                </table>
                            </div>
                            <div class="page pagination mt15 pb15"></div>
                        </div>
                        <!-- 投资记录模块 E -->
                    </div>
                    <!-- 可用余额等信息 E -->
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>