<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <!-- 充值模块 S -->
                    <div class="my-box-wrap">
                        <div class="my-box-title f-cb">
                            <span>账户充值</span>
                        </div>
                        <div class="recharge-box online-bank mt20">
                            <div class="rech-opts">
                                <div class="rech-items">
                                    <h3>账户余额：</h3>
                                    <div class="rech-row">
                                        <span class="mr5 balance">0.00</span>
                                        <span>元</span>
                                    </div>
                                </div>
                                <div class="rech-items">
                                    <h3>充值方式：</h3>
                                    <div class="limit-w mb10">
                                        <div class="shortcut-card">
                                            <i class="banklogo"></i>
                                            <span class="card-info"></span>
                                        </div>
                                    </div>
                                    <div class="limit-w">
                                        <table class="table-quota">
                                            <tbody><tr>
                                                <th style="text-align:center">单笔限额(元)</th>
                                                <th style="text-align:center">每日限额(元)</th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center" id="onceLimitAmount"></td>
                                                <td style="text-align:center" id="dayLimitAmount"></td>
                                            </tr>
                                        </tbody></table>
                                    </div>
                                    <!-- 银行出现异常时的提示 S -->
                                    <div class="mt10 f-hide" id="rechargeTips">
                                        <div class="page-tooltips ilblock">
                                            <div class="inner">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 银行出现异常时的提示 E -->
                                </div>
                                <div class="rech-items">
                                    <h3>充值金额：</h3>
                                    <div class="limit-w sum-input2 symbol-model2">
                                        <input type="text" class="i-text input-primary" id="amountQuickPay" autocomplete="off" placeholder="请输入充值金额" maxlength="10">
                                        <span class="symbol">元</span>
                                    </div>
                                </div>
                                <div class="rech-submit">
                                    <a href="javascript:;" class="btn btn-info" id="submitBtn" title="充值">充值</a>
                                </div>
                                <div class="rech-submit mt10">
                                    <span style="color:red" class="err-tips"></span>
                                </div>
                            </div>
                            <!-- 温馨提示 S-->
                            <div class="rech-prompt mt50">
                                <h3 class="ci-cont-hd">温馨提示</h3>
                                <p>1. 每位用户只能添加一张快捷支付银行卡，后续将只可提现至该银行卡内<br>2. 本次充值第三方支付所收取的手续费由房金网为您垫付<br>3. 充值成功满7天后提现可免提现手续费，若未满7天内提现则提现手续费按提现金额3‰收取，手续费低于2元时按照2元收取</p>
                            </div>
                            <!-- 温馨提示 E-->
                        </div>
                    </div>
                    <!-- 充值模块 E -->
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>