<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section">
            <div class="my-main-frame">
                <%= require('html-loader!../layout/my-left-layout.html')%>
                <div class="my-main-c ml20 w950">
                    <!-- 充值模块 S -->
                    <div class="my-box-wrap">
                        <div class="my-box-title f-cb">
                            <span>账户充值</span>
                        </div>
                        <div class="recharge-box online-bank mt20">
                            <div class="rech-opts">
                                <div class="rech-items nom-items">
                                    <h3>银行卡：</h3>
                                    <ul class="adds-bankcard">
                                        <li class="jBank selected" data-cardid="6921127" data-code="CCB" data-issecure="1">
                                            <a class="bankcard" href="javascript:;">
                                                <span class="num">**** **** **** ***3 930</span>
                                                <span class="name">肖忠保</span>
                                                <i class="banklogo-zgjsyh" title="建设银行"></i>
                                                <b class="icon-ggb-s"></b>
                                                <span class="tel">客服电话：95533</span>
                                                <span class="icon-del-s del" title="删除此银行卡"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- 银行出现异常时的提示 S -->
                                    <div class="mb10" id="withdrawTips">
                                        <div class="page-tooltips ilblock" style="min-width: 233px;">
                                            <div class="inner">
                                                <i class="icon icon-info-s"></i>
                                                <span>小贴士：10月1日00:00-10月8日24:00期间累计可提现金额下调至5万元，建议您提前做好资金安排。</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 银行出现异常时的提示 E -->
                                </div>
                                <div class="rech-items nom-items ">
                                    <h3>可提金额：</h3>
                                    <div class="rech-row"><span class="hot">￥0</span></div>
                                </div>
                                <div class="rech-items">
                                    <h3>充值金额：</h3>
                                    <div class="limit-w sum-input2 symbol-model2">
                                        <input type="text" class="i-text input-primary" id="amountQuickPay" autocomplete="off" placeholder="本次最多可充值300000" maxlength="10">
                                        <span class="symbol">元</span>
                                    </div>
                                </div>
                                <div class="rech-submit">
                                    <a href="javascript:;" class="btn btn-info" id="submitQuickRechargeBtn" title="充值">充值</a>
                                </div>
                            </div>
                            <!-- 温馨提示 S-->
                            <div class="rech-prompt mt50">
                                <h3 class="ci-cont-hd">温馨提示</h3>
                                <p>1. 添加快捷支付银行卡后，无需开通网银也可完成充值<br>2. 每位用户只能添加一张快捷支付银行卡，后续将只可提现至该银行卡内<br>3. 账户可用余额、活期和黄金总额小于等于100元，待收本息为0以及待还款金额为0后才能更换该银行卡<br>4. 当日充值的资金，不能当日提取<br>5. 充值完全免费，并为每位用户提供<a href="https://www.xiaoying.com/safe/info" target="_blank">账户安全险</a></p>
                            </div>
                            <!-- 温馨提示 E-->
                        </div>
                    </div>
                    <!-- 充值模块 E -->
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>