<!-- 日期提示框 https://www.88bank.com/trade -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <div class="main-section">
<div class="sr-cont">
                <div class="sr-cont-inner">
                    <div class="ci-title">
                        <!--普通的title条 S-->
                        <div class="ci-title-inner">
                            <h2>提现</h2><!--标题放这里-->
                            <b class="line"></b>
                        </div>
                        <!--普通的title条 E-->

                    </div>
                    <!-- 充值的内容【银行与注意事项】 S-->
                    <div class="rech-opts">
                        <div class="rech-items nom-items">
                            <h3>银行卡：</h3>
                            <ul class="adds-bankcard">
                                                                        <li>
                                            <a href="javascript:;" class="add-crad" id="addSecureBankCard" title="添加银行卡">
                                                <i class="icon-cross-w"><em></em><b></b></i>
                                                <span>添加银行卡</span>
                                            </a>
                                        </li>
                                                               </ul>
                            <!-- 银行出现异常时的提示 S -->
                            <div class="mb10" id="withdrawTips" style="display: none;">
                                <div class="page-tooltips ilblock" style="min-width: 233px;">
                                    <div class="inner">
                                        <i class="icon icon-info-s"></i>
                                        <span>提现提示</span>
                                    </div>
                                </div>
                            </div>
                            <!-- 银行出现异常时的提示 E -->
                        </div>
                        <div class="rech-items nom-items ">
                            <h3>可提金额：</h3>
                            <div class="rech-row"><span class="hot">￥0                                </span></div>
                        </div>
                        <div class="rech-items nom-items symbol-modelWithdraw">
                            <h3>提现金额：</h3>
                            <div class="sum-input2">
                                <input type="hidden" id="withdrawTimes" value="0">
                                <input id="amount" autocomplete="off" type="text" class="i-text err-input" maxlength="10">
                                <span class="symbol">￥</span>
                            </div>
                        </div>
                        <div class="rech-items nom-items mt10">
                            <h3>到账时间：</h3>
                            <div id="timeDesc" style="height:42px;line-height:42px">-</div>
                        </div>
                        <div class="rech-items mt10">
                            <h3>交易密码：</h3>
                            <div class="sum-input2">
                                <form style="display:none">
                                    <input type="password">
                                </form>
                                <input type="password" style="width:0;height:0;float:right;visibility: hidden;">
                                <input id="tradePassword" type="password" autocomplete="off" placeholder="请输入六位数字的交易密码" class="i-text" maxlength="20">
                            </div>
                        </div>
                        <div class="rech-items nom-items" style="display:none; width: 300px">
                            <div class="err-tip">您今天还可提现#num#次，每人每天最多可提现5次</div>
                        </div>
                        <div class="rech-submit mt10">
                                                            <a href="javascript:;" onclick="doSubmit()" id="submitBtn" class="btn btn-1">提交</a>
                                                    </div>
                    </div>
                    <!-- 充值的内容【银行与注意事项】 E-->
                    <div class="rech-prompt">
                        <h3 class="ci-cont-hd">温馨提示</h3>
                        <p>1. 提现完全免费，不收取任何手续费<br>2. 单笔提现最高50万元，单日累计提现金额上限为200万元，每日最多可提现10次<br>3. 当日充值的资金，不能当日提取<br>4. 如需更换银行卡，请确认账户可用余额、活期和黄金总额小于等于100元，待收本息为0以及待还款金额为0后删除更换；如有需要，请联系客服</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>