<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap">
        <%= require('html-loader!../layout/about-top-layout.html')%>
        <div class="f-about-pannel">
            <div class="main-section text-left pb20">
                <div class="about-box about-notice">
                    <div class="notice-box">
                        <dl>
                            <dt class="title"></dt>
                            <dd class="time">发布时间</dd>
                        </dl>
                        <div class="notice-detail pt30">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>