.br0{border:none!important}
.mg0{margin-right:0!important}
*{line-height:normal;box-sizing:border-box}
.cfo_box{width:100%;margin:0 auto;color:#797979}
.box_title{height:30px;line-height:30px;margin-bottom:20px}
.box_title .box_title_left{font-size:16px;color:#333;font-weight:700}
.box_title .box_title_right{color:#666;float:right;margin-top:10px}
.data_list{display:inline-block}
.data_list li{float:left;width:250px;height:110px;border-radius:3px;background:#f9fafc;margin-bottom:35px;margin-right:40px;padding-left:25px;border:1px solid #dfe2e7}
.data_list li:hover{background-color:#1088f1;color:#fff;border:1px solid #1088f1}
.data_list li:hover p{color:#fff}
.data_list li .list_name{color:#797979;font-size:14px;padding:25px 0 10px 0}
.data_list li .list_num{font-size:24px;color:#033}
#map{width:600px;height:450px}
.user_wrap{display:inline-block}
.user_wrap>div{float:left}
.user_wrap>div.user_data{width:260px}
.user_wrap>div.user_data i{display:inline-block;width:115px;height:30px;line-height:30px;padding-left:25px;overflow:hidden;vertical-align:middle}
.user_data .user_data_name{font-size:18px;color:#0d0d0d}
.user_data li{font-size:14px;height:43px;line-height:43px}

.rank1{background: url(../../image/icon_rank1.png) 0 12px}
.rank2{background: url(../../image/icon_rank2.png) 0 12px}
.rank3{background: url(../../image/icon_rank3.png) 0 12px}
.rank4{background: url(../../image/icon_rank4.png) 0 12px}
.rank5{background: url(../../image/icon_rank5.png) 0 12px}
.rank6{background: url(../../image/icon_rank6.png) 0 12px}
.rank7{background: url(../../image/icon_rank7.png) 0 12px}
.rank8{background: url(../../image/icon_rank8.png) 0 12px}
.rank9{background: url(../../image/icon_rank9.png) 0 12px}
.rank10{background: url(../../image/icon_rank10.png) 0 12px}
.rank{background-repeat:no-repeat;background-size:20px}