<!doctype html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title%> - 房金网</title>
	<%= require('html-loader!../layout/head-common.html')%>
</head>
<body>
    <%= require('html-loader!../layout/nav.html')%>
    <%= require('html-loader!../layout/header.html')%>
    <div class="main-wrap main pt10 pb15">
        <div class="main-section">
            <div class="m-pay">
                <h1 class="name"></h1>
                <div class="m-item product f-cb">
                    <h2 class="title f-fl">产品信息：</h2>
                    <ul class="info f-fl">
                        <li>
                            预期年化收益率：<span id="rate">--</span>%
                        </li>
                        <li>
                            起购金额：<span id="startPrice">--</span>元
                        </li>
                        <li>
                            起息时间：<span id="incomeFlow">--</span>
                        </li>
                        <li>
                            剩余收益天数：<span id="remainDays">--</span>
                        </li>
                        <li>
                            预期到期收益：<span id="incomeRate">--</span>元
                        </li>
                        <li>
                            到期时间：<span id="dueDate">--</span>
                        </li>
                    </ul>
                </div>
                <div class="m-item coupon f-cb">
                    <h2 class="title f-fl">卡券：</h2>
                    <div class="info f-fl">
                        <div class="J-coupon"><div class="biz-coupon">  <div class="topLine f-cb">   <span class="firstShow f-fl"><span class="firstShow only-text f-fl">暂无可用优惠</span></span>     </div>  <p class="errorTip"></p>  <div class="coupon-wrap" style="">      </div> </div></div>
                        <p class="errorctn">
                            <i class="error J-coupoErrorTip"></i>
                        </p>
                    </div>
                </div>
                <div class="m-item iptarea f-cb">
                    <h2 class="title f-fl">购买金额：</h2>
                    <div class="info f-fl symbol-model2">
                        <input class="J-input i-text input-primary f-fl" type="text" autocomplete="off" value="" readonly>
                        <span class="symbol">元</span>
                    </div>
                </div>
                <div class="m-item f-cb">
                    <h2 class="title f-fl">交易密码：</h2>
                    <div  id="payPassword_container" class="info f-fl" data-busy="0">
                        <div class="i-block six-password">
                            <input class="i-text sixDigitPassword" id="payPassword_rsainput" type="text" autocomplete="off"  autocomplete="new-password" onfocus="this.type='password'" required="required" value="" name="payPassword_rsainput" data-role="sixDigitPassword" tabindex="" maxlength="6" minlength="6" aria-required="true">
                            <div tabindex="0" class="sixDigitPassword-box">
                                <i><b></b></i>
                                <i><b></b></i>
                                <i><b></b></i>
                                <i><b></b></i>
                                <i><b></b></i>
                                <i><b></b></i>
                                <span id="cardwrap" data-role="cardwrap"></span>
                            </div>
                            <span style="color:red" class="err-tips"></span>
                            <a class="pass-link f-fl f-hide" href="javascript:;">忘记交易密码？</a>
                        </div>
                    </div>
                </div>
                <div class="m-item order mt50 f-cb">
                    <h2 class="title f-fl"></h2>
                    <div class="info f-fl">
                        <button class="btn btn-info J-order disabled">立即购买</button>
                    </div>
                </div>
            </div>
            <h2 class="m-title g-ctn">
                常见问题
            </h2>
            <ul class="m-help g-ctn">
                <li>
                    <h3 class="first">1. 忘记交易密码怎么办？</h3>
                    <p>答：您可以点击<a class="J-find" href="javascript:;">忘记交易密码</a>，在新页面中通过银行卡信息身份认证后重新设置交易密码。</p>
                </li>
                <li>
                    <h3>2. 如何修改交易密码？</h3>
                    <p>答：您可以在“我的资产-账户设置”中点击“修改交易密码”进行修改。</p>
                </li>
                <li>
                    <h3>3. 为什么'确认支付'按钮不可以点击？</h3>
                    <p>答：请检查是否输入了6位数字交易密码或者是否超过了10分钟支付时限。</p>
                </li>
            </ul>
            <%= require('html-loader!../layout/product-bottom-layout.html')%>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>
</html>