.f-login { width: 100%; position: relative; font-size: 14px; min-height: inherit; height: 650px; background: center no-repeat; background-image: url(https://www.fangjinnet.com/static/images/index-banner0.jpg) }
.login-box-page { width: 400px; min-height: inherit; margin-top: 60px; float: right; padding: 35px; background: #fff }
.login-box-page .login-title { font-size: 20px; color: #18273f; line-height: 1; margin-bottom: 10px }
.login-box-page .login-form { height: 300px }
.login-form .form-item input{line-height:20px}
.login-form .form-item .input-small { width: 228px }
.login-form .form-item-remember { margin-top: 40px; color: #999; cursor: pointer; font-size: 14px }
.login-form .form-item-remember .input-checkbox { margin-right: 6px }
.login-form .form-item-login-btn .loginbtn { width:100%;height: 45px;
    line-height: 45px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #1088f1;
    z-index: 5;  }
.login-form .form-item-hide { margin: 0; height: 0 }
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset}
label{position:absolute;top:0;left:5px;color:#ccc;height:30px;line-height:30px;}